extends ../../templates/template.pug

block append variables
  - const CURRENT_PAGE = ""
  - const URL = "https://estelibuses.web.app"
  - const ASSETS_PATH = "../"
  - const HAS_CRITICAL_CSS = false
  - const APPLICATION_NAME = "Estelí Buses"
  - const META_DESCRIPTION = "Politica de Privacidad | Estelí Buses"
  - const META_ROBOTS = "noindex, nofollow"
  - const LANGUAGE = "es"
  - const CURRENT_URL = `${URL}/politica-de-privacidad`
  - const SOCIAL_TITLE = META_DESCRIPTION
  - const SOCIAL_DESCRIPTION = META_DESCRIPTION
  - const SOCIAL_IMAGE = ""
  - const SOCIAL_IMAGE_ALT = SOCIAL_TITLE
  - const OPEN_GRAPH_SITE_NAME = ""
  - const TWITTER_CARD = "summary_large_image"

block append title
  title= SOCIAL_TITLE

block append preconnect

block append async-scripts

block append critical-css

block append stylesheets
  link(href=`${ASSETS_PATH}css/style.css` rel="stylesheet")/

block append preload

block append defer-scripts

block append content
  header
    div(class="container mx-auto px-4")
      include ../../components/navbar

  section(class="container mx-auto px-4")
    section(
      class="flex flex-col justify-center items-center pt-18 pb-26 xs:pb-36 lg:pt-28 lg:pb-34 xl:pb-44 2xl:pb-54 text-center max-w-6xl mx-auto space-y-6"
    )
      h1(
        class="text-4xl sm:text-5xl font-bold mb-8 max-w-screen-lg text-hex-3b0d15 dark:text-orange-50"
      ) Política de Privacidad
      p(class="text-md text-black-200 dark:text-light-700") Esta política de privacidad se revisó por última vez el 06 de Mayo de 2022.

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Estelí Buses sabe que le importa cómo se usa y comparte su información. Esta Política de privacidad explica qué información suya se recopilará cuando utilice el Servicio de Estelí Buses, cómo se utilizará la información y cómo puede controlar la recopilación, corrección y/o eliminación de información. No se usará ni se compartirá su información con nadie. Esta Política de privacidad no se aplica a la información que recopilamos por otros medios (incluso fuera de línea) o de otras fuentes.

      h2(
        class="text-3xl sm:text-4xl font-bold !mt-14 text-hex-3b0d15 dark:text-orange-50"
      ) Información que se recopila

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700")
        strong Información proporcionada por el usuario:
        | &nbsp;Usted nos proporciona información como su nombre y dirección de correo electrónico a través del formulario de la página de&nbsp;
        a(
          class="transition-colors text-orange-500 dark:text-orange-400 hover:text-orange-600 hover:underline dark:hover:text-orange-500"
          href="/contacto"
        ) Contacto
        | . Al comunicarse con Estelí Buses, se puede conservar el contenido de sus mensajes de correo electrónico, su dirección de correo electrónico y nuestras respuestas. También podemos retener cualquier mensaje que envíe a través del Servicio.

      h2(
        class="text-3xl sm:text-4xl font-bold !mt-14 text-hex-3b0d15 dark:text-orange-50"
      ) ¿Cómo se usa su información?

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Se usa la información personal que envía para operar, mantener y brindarle las características y la funcionalidad del Servicio.

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Al proporcionar a Estelí Buses su dirección de correo electrónico, acepta que usemos la dirección de correo electrónico para enviarle avisos relacionados con el Servicio por correo electrónico. También acepta que podemos enviarle notificaciones de actividad en el Servicio a la dirección de correo electrónico que nos proporcione, de acuerdo con cualquier configuración de privacidad aplicable. De vez en cuando, Estelí Buses puede solicitarle su consentimiento explícito para usar su dirección de correo electrónico para enviarle otros mensajes, como boletines, cambios en las funciones del Servicio u ofertas especiales. Si no desea recibir dichos mensajes, puede optar por solicitar la eliminación de su correo electrónico. La exclusión voluntaria puede evitar que reciba mensajes sobre actualizaciones, mejoras u ofertas.

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Después de la terminación o desactivación de su correo electrónico, Estelí Buses puede conservar esta información durante un tiempo comercialmente razonable con fines de copia de seguridad.

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Estelí Buses puede usar cierta información sobre usted y/o su Contenido de usuario internamente para fines tales como analizar cómo se usa el Servicio, diagnosticar problemas técnicos o del servicio, mantener la seguridad y personalizar el contenido.

      h2(
        class="text-3xl sm:text-4xl font-bold !mt-14 text-hex-3b0d15 dark:text-orange-50"
      ) Descargo de responsabilidad

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Estelí Buses se reserva el derecho, pero no tiene la obligación, de controlar el contenido y de verificar cualquier información que los usuarios comparten para publicar en el Servicio (precios de pasajes, cambios de horarios de salidas de los buses o cualquier otra información aplicable a la plataforma). Estelí Buses se reserva el derecho de eliminar dicha información o material por cualquier motivo o sin motivo y sin aviso previo, incluido, entre otros, si, a nuestro exclusivo criterio, dicha información o material viola, o puede violar, cualquier ley aplicable, o para proteger o defender nuestros derechos o propiedad o los de cualquier tercero. Estelí Buses también se reserva el derecho de eliminar información a pedido de un tercero.

      h2(
        class="text-3xl sm:text-4xl font-bold !mt-14 text-hex-3b0d15 dark:text-orange-50"
      ) ¿Compartimos su información?

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700")
        strong Información de identificación personal:
        | &nbsp;Estelí Buses no alquilará ni venderá su información de identificación personal a otros (como correo electrónico). Pero sus datos e información personal se pueden almacenar en ubicaciones fuera del control directo de Estelí Buses (por ejemplo, en servidores o bases de datos ubicadas junto con proveedores de alojamiento), lo cuál ya no cubrirá esta política de privacidad.

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700")
        strong Información de identificación no personal:
        | &nbsp;Estelí Buses puede compartir información de identificación no personal (como datos de uso anónimos, páginas y URL de referencia/salida, tipos de plataforma, número de clics, etc.) con terceros interesados para ayudarlos a comprender los patrones de uso de determinados servicios de Estelí Buses. Así como para cualquier negocio que desee publicitarse en la plataforma.

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Estelí Buses puede permitir que servidores de anuncios o redes de anuncios de terceros publiquen anuncios en el Servicio. Estos servidores de anuncios o redes publicitarias de terceros utilizan tecnología para enviar, directamente a su navegador, los anuncios y enlaces que aparecen en Estelí Buses (en la seción de&nbsp;
        a(
          class="transition-colors text-orange-500 dark:text-orange-400 hover:text-orange-600 hover:underline dark:hover:text-orange-500"
          href="/anuncios"
        ) Anuncios
        | ). Reciben automáticamente su dirección IP o reconocen sus patrones de navegación dentro o fuera de Estelí Buses. También pueden usar otras tecnologías (como cookies, JavaScript o identificación (fingerprint) web) para medir la efectividad de sus anuncios y personalizar el contenido publicitario. Estelí Buses no proporciona ninguna información de identificación personal a estos servidores de anuncios o redes publicitarias de terceros sin su consentimiento. Sin embargo, tenga en cuenta que si un anunciante le pide a Estelí Buses que muestre un anuncio a una determinada audiencia y usted responde a ese anuncio, el anunciante o el servidor de anuncios pueden concluir que usted se ajusta a la descripción de la audiencia a la que intentan llegar. La Política de privacidad de Estelí Buses no se aplica y no podemos controlar las actividades de los anunciantes de terceros. Consulte las respectivas políticas de privacidad de dichos anunciantes para obtener más información.

      h2(
        class="text-3xl sm:text-4xl font-bold !mt-14 text-hex-3b0d15 dark:text-orange-50"
      ) ¿Cómo protegemos su información?

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Estelí Buses utiliza medidas de seguridad físicas, administrativas y técnicas comercialmente razonables para preservar la integridad y seguridad de su información personal e implementar su configuración de privacidad. Sin embargo, no podemos asegurar ni garantizar la seguridad de la información que transmita a Estelí Buses ni garantizar que no se pueda acceder, divulgar, alterar o destruir su información en el Servicio por incumplimiento de cualquiera de nuestras salvaguardas físicas, técnicas o administrativas. Su configuración de privacidad también puede verse afectada por cambios en la funcionalidad de los distribuidores de Estelí Buses, como las redes sociales. Estelí Buses no es responsable de la funcionalidad o las medidas de seguridad de terceros.

      h2(
        class="text-3xl sm:text-4xl font-bold !mt-14 text-hex-3b0d15 dark:text-orange-50"
      ) Compromiso de la información personal

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700") En caso de que la información personal se vea comprometida como resultado de una violación de la seguridad, Estelí Buses notificará de inmediato a todas las agencias gubernamentales relevantes y a aquellas personas cuya información personal se haya visto comprometida, de acuerdo con los procedimientos de notificación establecidos en esta Política de privacidad, o como lo contrario requerido por la ley aplicable.

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Al utilizar esta plataforma aceptas implícitamente la política de privacidad y cookies o galletas informáticas. La forma correcta de manifestar tu no aceptación es no utilizar este servicio.

      h2(
        class="text-3xl sm:text-4xl font-bold !mt-14 text-hex-3b0d15 dark:text-orange-50"
      ) Sus opciones sobre su información

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Por supuesto, puede negarse a enviar información de identificación personal a través del Servicio, en cuyo caso es posible que Estelí Buses no pueda brindarle ciertos servicios. Puede revisar, corregir o eliminar la información sobre usted que Estelí Buses mantiene archivada poniéndose en contacto con nosotros directamente a través de&nbsp;
        a(
          class="transition-colors text-orange-500 dark:text-orange-400 hover:text-orange-600 hover:underline dark:hover:text-orange-500"
          href="/contacto"
        ) nuestro formulario de contacto
        | .

      h2(
        class="text-3xl sm:text-4xl font-bold !mt-14 text-hex-3b0d15 dark:text-orange-50"
      ) Privacidad de los niños

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Proteger la privacidad de los niños pequeños es especialmente importante. Por ese motivo, Estelí Buses no recopila ni solicita a sabiendas información personal de ninguna persona menor de 16 años ni permite a sabiendas que dichas personas se compartan su correo electrónico o información personal. Si tiene menos de 16 años, no nos envíe ninguna información sobre usted, incluidos su nombre, dirección, número de teléfono o dirección de correo electrónico. Ningún menor de 16 años puede proporcionar información personal a o en Estelí Buses. En el caso de que sepamos que hemos recopilado información personal de un niño menor de 16 años sin verificación del consentimiento de los padres, eliminaremos esa información lo más rápido posible. Si cree que podríamos tener información de un niño menor de 16 años o sobre él, comuníquese a través de&nbsp;
        a(
          class="transition-colors text-orange-500 dark:text-orange-400 hover:text-orange-600 hover:underline dark:hover:text-orange-500"
          href="/contacto"
        ) nuestro formulario de contacto
        | .

      h2(
        class="text-3xl sm:text-4xl font-bold !mt-14 text-hex-3b0d15 dark:text-orange-50"
      ) Enlaces a otros sitios web

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Estelí Buses no es responsable de las prácticas empleadas por los sitios web vinculados hacia o desde el Servicio, ni de la información o el contenido que contiene. Dichos sitios pueden incluir terceros que procesan la información de forma diferente a este política de privacidad. Recuerde que cuando utiliza un enlace para ir del Servicio a otro sitio web, este Política de privacidad ya no está vigente. Su navegación e interacción en cualquier otro sitio web, incluidos aquellos que tienen un enlace en nuestro sitio web, están sujetos a las reglas y políticas propias de ese sitio web. Por favor, lea sobre las normas y políticas antes de proceder.

      h2(
        class="text-3xl sm:text-4xl font-bold !mt-14 text-hex-3b0d15 dark:text-orange-50"
      ) Cambios en la Política de Privacidad

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Si cambiamos nuestras políticas y procedimientos de privacidad, publicaremos esos cambios en el Servicio para mantenerlo informado sobre qué información recopilamos, cómo la usamos y en qué circunstancias podemos divulgarla. Los cambios a esta Política de privacidad son efectivos cuando se publican en esta página.

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Si tiene alguna pregunta sobre esta Política de privacidad, las prácticas de este sitio o sus transacciones con este sitio web, contáctenos a través de&nbsp;
        a(
          class="transition-colors text-orange-500 dark:text-orange-400 hover:text-orange-600 hover:underline dark:hover:text-orange-500"
          href="/contacto"
        ) nuestro formulario de contacto
        | .

      h2(
        class="text-3xl sm:text-4xl font-bold !mt-14 text-hex-3b0d15 dark:text-orange-50"
      ) Política de cookies

      h3(class="text-xl text-hex-3b0d15 dark:text-orange-50 font-bold") Definición y función de las cookies

      h4(class="text-lg text-hex-3b0d15 dark:text-orange-50 font-bold") ¿Qué son las cookies?

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Una cookie es un fichero que se descarga en su ordenador al acceder a determinadas páginas web. Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario.

      h3(class="text-xl text-hex-3b0d15 dark:text-orange-50 font-bold") Tipo de cookies que utiliza la página web y su finalidad

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Estelí Buses utiliza las siguientes cookies de terceros:

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700")
        strong Google Analytics:
        | &nbsp;Almacena cookies para poder elaborar estadísticas sobre el tráfico y volumen de visitas de esta web. Al utilizar este sitio web está consintiendo el tratamiento de información acerca de usted por Google. Por tanto, el ejercicio de cualquier derecho en este sentido deberá hacerlo comunicando directamente con Google.

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700 break-all") En el sitio web:&nbsp;
        a(
          class="transition-colors text-orange-500 dark:text-orange-400 hover:text-orange-600 hover:underline dark:hover:text-orange-500"
          href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage"
          target="_blank"
        ) https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage
        | .

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700")
        strong Google Adsense:&nbsp;
        | &nbsp;Almacena cookies para poder elaborar estadísticas y analizar sus patrones de navegación para mostrar publicidad relacionada directamente o indirectamente a sus intereses. Al utilizar este sitio web está consintiendo el tratamiento de información acerca de usted por Google. Por tanto, el ejercicio de cualquier derecho en este sentido deberá hacerlo comunicando directamente con Google.

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700 break-all") En el sitio web, de acuerdo a las políticas de privacidad del servicio de Google Adsense:&nbsp;
        a(
          class="transition-colors text-orange-500 dark:text-orange-400 hover:text-orange-600 hover:underline dark:hover:text-orange-500"
          href="https://www.google.com/adsense/new/localized-terms?hl=es"
          target="_blank"
        ) https://www.google.com/adsense/new/localized-terms?hl=es
        | .

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700")
        strong Desactivación o eliminación de cookies:
        | &nbsp;En cualquier momento podrá ejercer su derecho de desactivación o eliminación de cookies de este sitio web. Estas acciones se realizan de forma diferente en función del navegador que esté usando. Aquí puedes ver una guía rápida para:

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700 break-all") Google Chrome:&nbsp;
        a(
          class="transition-colors text-orange-500 dark:text-orange-400 hover:text-orange-600 hover:underline dark:hover:text-orange-500"
          href="https://support.google.com/accounts/answer/61416"
          target="_blank"
        ) https://support.google.com/accounts/answer/61416
        | .

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700 break-all") Mozilla Firefox:&nbsp;
        a(
          class="transition-colors text-orange-500 dark:text-orange-400 hover:text-orange-600 hover:underline dark:hover:text-orange-500"
          href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias"
          target="_blank"
        ) https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias
        | .

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Puede cambiar la configuración de su navegador de internet para permitir, bloquear o eliminar las cookies instaladas en su equipo. Si usted no permite la instalación de cookies puede que no consiga acceder a alguno de los servicios que le ofrecemos en nuestra página, o que su navegación por nuestra página no sea tan grata.

      p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Si usted navega desde otra plataforma y desea desactivar las cookies, usted tiene que realizar una búsqueda en internet para encontrar las instrucciones correspondientes.
