block variables

- const LANG = LANGUAGE

block append currentPage
  - const PAGE = CURRENT_PAGE

- let themeColor = "#fb923c"

- if (PAGE === 'terminal-norte') {
- themeColor = "#34d399"
- }

- if (PAGE === 'terminal-sur') {
- themeColor = "#fbbf24"
- }

doctype html
html(class="scroll-smooth" dir="ltr" lang=`${LANG}` prefix="og: https://ogp.me/ns#")
  head#h
    meta(charset="UTF-8")/

    meta(
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover"
    )/

    block title

    link(crossorigin href="//www.googletagmanager.com/" rel="preconnect")/
    link(crossorigin href="//www.google-analytics.com/" rel="preconnect")/
    link(crossorigin href="//pagead2.googlesyndication.com/" rel="preconnect")/
    block preconnect

    script.
      if (localStorage.getItem("darkmode") === "true") document.documentElement.classList.add("dark");
    script(
      src="https://www.googletagmanager.com/gtag/js"
      async
      crossorigin
      importance="low"
    )
    block async-scripts

    block critical-css

    if HAS_CRITICAL_CSS
      link(
        as="style"
        href=`${ASSETS_PATH}css/lib/windi.css`
        importance="low"
        onload="this.onload=null;this.rel='stylesheet'"
        rel="preload"
      )/
    else
      link(href=`${ASSETS_PATH}css/lib/windi.css` rel="stylesheet")/
    block stylesheets

    link(
      type="image/avif"
      as="image"
      href="/img/estelibuses-logo.avif"
      importance="highest"
      rel="preload"
    )/
    link(
      type="image/webp"
      as="image"
      href="/img/estelibuses-logo.webp"
      importance="highest"
      rel="preload"
    )/
    block preload

    script(src=`${ASSETS_PATH}js/lib/quicklink.umd.js` defer importance="low")
    script(type="module" src=`${ASSETS_PATH}js/app.js` importance="low")
    script(src=`${ASSETS_PATH}js/polyfill-lazyload.js` defer importance="low")
    script(
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4534198821642047"
      async
      crossorigin="anonymous"
      importance="low"
    )
    block defer-scripts

    meta(name="robots" content=`${META_ROBOTS}`)/
    if META_DESCRIPTION !== ""
      meta(name="description" content=`${META_DESCRIPTION}`)/
    if !SERVER_PAGE
      link(href=`${CURRENT_URL}` rel="canonical")/
      link(href=`${CURRENT_URL}` hreflang=`${LANG}` rel="alternate")/

    script(type="application/ld+json").
      { "@context": "https://schema.org", "@type": "Organization", "name": "Estelí Buses", "url": "https://estelibuses.web.app", "logo": "https://estelibuses.web.app/favicons/android-chrome-512x512.png", "sameAs": ["https://www.facebook.com/estelibuses"] }

    block seo

    link(href=`${ASSETS_PATH}favicons/favicon.ico` rel="shortcut icon")/
    link(
      type="image/png"
      href=`${ASSETS_PATH}favicons/favicon-16x16.png`
      rel="icon"
      sizes="16x16"
    )/
    link(
      type="image/png"
      href=`${ASSETS_PATH}favicons/favicon-32x32.png`
      rel="icon"
      sizes="32x32"
    )/
    link(
      href=`${ASSETS_PATH}manifest/icon-192x192.png`
      rel="icon"
      sizes="192x192"
    )/
    link(
      href=`${ASSETS_PATH}manifest/icon-128x128.png`
      rel="icon"
      sizes="128x128"
    )/
    link(
      href=`${ASSETS_PATH}favicons/apple-touch-icon.png`
      rel="apple-touch-icon"
      sizes="180x180"
    )/
    link(
      color="#fb923c"
      href=`${ASSETS_PATH}/favicons/safari-pinned-tab.svg`
      rel="mask-icon"
    )/

    meta(name="color-scheme" content="light dark")/
    meta(name="theme-color" content=themeColor)/
    meta(name="msapplication-TileColor" content="#fb923c")/
    link(href=`${ASSETS_PATH}manifest.json` rel="manifest")/
    meta(
      name="msapplication-config"
      content=`${ASSETS_PATH}/favicons/browserconfig.xml`
    )/

    meta(name="format-detection" content="telephone=no")/
    meta(name="application-name" content=`${APPLICATION_NAME}`)
    meta(name="mobile-web-app-capable" content="yes")/
    meta(name="apple-mobile-web-app-capable" content="yes")/
    meta(
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    )/
    meta(name="apple-mobile-web-app-title" content=`${APPLICATION_NAME}`)/

    link(
      href=`${ASSETS_PATH}splashscreens/iphone5_splash.png`
      media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image"
    )/
    link(
      href=`${ASSETS_PATH}splashscreens/iphone6_splash.png`
      media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image"
    )/
    link(
      href=`${ASSETS_PATH}splashscreens/iphoneplus_splash.png`
      media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)"
      rel="apple-touch-startup-image"
    )/
    link(
      href=`${ASSETS_PATH}splashscreens/iphonex_splash.png`
      media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)"
      rel="apple-touch-startup-image"
    )/
    link(
      href=`${ASSETS_PATH}splashscreens/iphonexr_splash.png`
      media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image"
    )/
    link(
      href=`${ASSETS_PATH}splashscreens/iphonexsmax_splash.png`
      media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)"
      rel="apple-touch-startup-image"
    )/
    link(
      href=`${ASSETS_PATH}splashscreens/ipad_splash.png`
      media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image"
    )/
    link(
      href=`${ASSETS_PATH}splashscreens/ipadpro1_splash.png`
      media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image"
    )/
    link(
      href=`${ASSETS_PATH}splashscreens/ipadpro3_splash.png`
      media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image"
    )/
    link(
      href=`${ASSETS_PATH}splashscreens/ipadpro2_splash.png`
      media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image"
    )/

    if SOCIAL_TITLE !== ""
      meta(name="title" content=`${SOCIAL_TITLE}` property="og:title")/
    if SOCIAL_DESCRIPTION !== ""
      meta(
        name="description"
        content=`${SOCIAL_DESCRIPTION}`
        property="og:description"
      )/
    if SOCIAL_IMAGE !== ""
      meta(name="image" content=`${URL}${SOCIAL_IMAGE}` property="og:image")/
    if SOCIAL_IMAGE_ALT !== ""
      meta(content=`${SOCIAL_IMAGE_ALT}` property="og:image:alt")/
      meta(content="website" property="og:type")/
    if OPEN_GRAPH_SITE_NAME !== ""
      meta(content=`${OPEN_GRAPH_SITE_NAME}` property="og:site_name")/
      meta(content=`${CURRENT_URL}` property="og:url")/
      meta(content=`${LANG}` property="og:locale")/

    if TWITTER_CARD !== ""
      meta(name="twitter:card" content=`${TWITTER_CARD}`)/
    if SOCIAL_TITLE !== ""
      meta(name="twitter:title" content=`${SOCIAL_TITLE}`)/
    if SOCIAL_DESCRIPTION !== ""
      meta(name="twitter:description" content=`${SOCIAL_DESCRIPTION}`)/
    if SOCIAL_IMAGE !== ""
      meta(name="twitter:image" content=`${URL}${SOCIAL_IMAGE}`)/
    if SOCIAL_IMAGE_ALT !== ""
      meta(name="twitter:image:alt" content=`${SOCIAL_IMAGE_ALT}`)/

  //- prettier-ignore
  body(
    class='bg-white text-cool-gray-700 dark:bg-hex-292018 dark:text-white transition-colors duration-150'
  )
    block content

    include ../components/footer

    include ../components/navbarMobile

    include ../components/installButton

    include ../components/reloadButton
