extends ../../../templates/template.pug
include ../../../utils/pageCity
include ../../../utils/cardTransportInfoNorth

block append variables
  - const CURRENT_PAGE = "terminal-norte"
  - const URL = "https://estelibuses.web.app"
  - const ASSETS_PATH = "../../"
  - const HAS_CRITICAL_CSS = false
  - const APPLICATION_NAME = "Estelí Buses"
  - const META_DESCRIPTION = "Conoce todos los horarios de los buses que salen desde Estelí hacia San Rafael del Norte."
  - const META_ROBOTS = "index, follow"
  - const LANGUAGE = "es"
  - const CURRENT_URL = URL
  - const SOCIAL_TITLE = "Horarios de los Buses de Estelí hacia San Rafael del Norte"
  - const SOCIAL_DESCRIPTION = META_DESCRIPTION
  - const SOCIAL_IMAGE = ""
  - const SOCIAL_IMAGE_ALT = SOCIAL_TITLE
  - const OPEN_GRAPH_SITE_NAME = ""
  - const TWITTER_CARD = "summary_large_image"

block append title
  title= SOCIAL_TITLE

block append preconnect
  link(crossorigin href="//www.google.com/" rel="preconnect")/
  link(crossorigin href="//maps.googleapis.com/" rel="preconnect")/
  link(crossorigin href="//maps.gstatic.com/" rel="preconnect")/

block append async-scripts

block append critical-css

block append stylesheets
  link(href=`${ASSETS_PATH}css/style.css` rel="stylesheet")/

block append preload

block append defer-scripts

block append content
  +pageCity('San Rafael del Norte', 'Terminal norte', 'Terminal de San Rafael del Norte', '44.4 km', 'https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d124328.16804378091!2d-86.30190850643599!3d13.146292818672528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x8f718c6c8f2298e7%3A0x855d282eb62cfeed!2sCotran%20Norte%2C%20Estel%C3%AD!3m2!1d13.0816363!2d-86.352126!4m5!1s0x8f7219c0f0083c63%3A0xec5472f8e6985968!2sSan%20Rafael%20del%20Norte!3m2!1d13.2109683!2d-86.1115583!5e0!3m2!1ses-419!2sni!4v1645810949970!5m2!1ses-419!2sni')
    section(class="bg-red-100 p-4 rounded")
      style.
        .aspect-image {
          aspect-ratio: 520/227;
        }

      svg(
        class="fill-current text-red-600 float-left mr-4 mt-0.8"
        viewBox="0 0 24 24"
        width="34"
        height="34"
      )
        path(d="M13 14h-2V9h2m0 9h-2v-2h2M1 21h22L12 2 1 21Z")/
      p(class="text-red-600") Hay información inconsistente con los horarios hacia San Rafael del Norte,&nbsp;
        a(class="underline" href="/terminal-norte-esteli/horarios-esteli-la-rica") La Rica
        | &nbsp;y&nbsp;
        a(class="underline" href="/terminal-norte-esteli/horarios-esteli-yali") Yalí
        | , la cuál no se me fue aclarada.
      figure(class="my-4 text-center")
        img(
          src="/img/error-horarios.jpg"
          alt="Inconsistencia con los horarios de Yalí, San Rafael del Norte y La Rica"
          class="object-cover object-center w-full h-auto aspect-image lazyload rounded"
          decoding="async"
          importance="low"
        )/
        figcaption(class="mt-2 text-left")
          a(
            class="text-sm underline font-semibold text-red-600"
            download="error-horarios-yali-san-rafael-del-norte-la-rica.jpg"
            href="/img/error-horarios.jpg"
          ) Descarga la imágen
      p(class="text-red-600") Por favor revisa estos horarios y envía información verificada, para actualizarla lo antes posible. Lee la&nbsp;
        a(class="underline" href="/guia-de-contribucion") guía de contribución
        | &nbsp;para envíar la información necesaria.
    +cardTransportInfoNorth('Horario #1', '06:45 am', 'Ruteado', 'Rodríguez', '100', '2.2 horas', false, false, true)
    +cardTransportInfoNorth('Horario #2', '12:30 pm', 'Ruteado', 'Ubeda', '100', '2.2 horas', false, false, true)
