extends ../../templates/template.pug
include ../../utils/pageTerminal
include ../../utils/cardCity

block append variables
  - const CURRENT_PAGE = "terminal-sur"
  - const URL = "https://estelibuses.web.app"
  - const ASSETS_PATH = "../"
  - const HAS_CRITICAL_CSS = true
  - const APPLICATION_NAME = "Estelí Buses"
  - const META_DESCRIPTION = "Conoce todos los horarios de los buses de la Terminal Sur de la ciudad de Estelí."
  - const META_ROBOTS = "index, follow"
  - const LANGUAGE = "es"
  - const CURRENT_URL = URL
  - const SOCIAL_TITLE = "Horarios de la Terminal Sur de Buses de Estelí"
  - const SOCIAL_DESCRIPTION = META_DESCRIPTION
  - const SOCIAL_IMAGE = ""
  - const SOCIAL_IMAGE_ALT = SOCIAL_TITLE
  - const OPEN_GRAPH_SITE_NAME = ""
  - const TWITTER_CARD = "summary_large_image"

block append title
  title= SOCIAL_TITLE

block append preconnect

block append async-scripts

block append critical-css

block append stylesheets
  link(href=`${ASSETS_PATH}css/style.css` rel="stylesheet")/

block append preload

block append defer-scripts
  script(src=`${ASSETS_PATH}js/search.js` defer importance="high")

block append content
  +pageTerminal('terminal-sur', 'Horarios de la terminal sur de Estelí', 'Conoce todos los horarios de la terminal sur de Estelí y elige la ciudad a la que deseas viajar.', 'Contiguo al déposito de Restaurantes Tip-Top, Km 148 ½ Carretera Panamericana', '2713-6162', 'sur', 'Managua', 'Matagalpa', 'León', 'La Trinidad', 'San Nicolás', 'Tisey - La Estanzuela', 'Achuapa', 'Murra', 'El Espinal', 'Yalí')
    +cardCity('Managua', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADNSURBVAXBS06DUBiA0e+HC7TAoKnVVkdNTFyGC3UJjlyCAx01OjAaY2IZ1JqGaEAriBfuw3Pk8ubVZ7GgjSeNhCiEjx/DV2cZh5AoIVaCavoBbUNEoGwsn7+GtneEQKYgCeFvcKjr54JpnhMFCvCICIEzeIHg5Zbv03O0ExT1BW0dgU8Z2jHzScw8maBHCTbo6TZXFOUOdeQ8q2JNlhv2usey5L565/gkp9F7FtkZh1NQD29blosDNts1VdWR8shsZinrmgjDbljxdDfiHzXGWeYErh0SAAAAAElFTkSuQmCC')

    +cardCity('Matagalpa', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADQSURBVAXB21KCQACA4R9YKBaUlE4Yjc7Y4TV7id6il+gNumzGu2Q0R0NdGGU5LH2f9f7x2ffYSBemtxFS+pQqZ1P02EZTqTVfixXiUkA08PG6ErVf41kxwpxJQpemblCt5HU2wc5Wv2yKFse2GEoPT4AvA+5vRjymE67HVzi0iHyb8TyfciF6PFdwPpVoXVOUisNREYQRWmucqty93cURL09zjOnId3/k+yNpmvIwSRiPYlrTI7rqxCFbsPwOGIYh2+UPBpsmGaAKQdPU1ErxD8RhXNMpHuGqAAAAAElFTkSuQmCC')

    +cardCity('León', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADWSURBVAXBzVKCUACA0e8CJmg4mApZMSrTj8207kF6m3Y9TS/juGhbTi1cSF7JQQuBe8HOEU/Pr8fpqIfSGrnL4aj5UzAauERdwVf8ywEbK2hr6tWcIBiiqow2ezLRxM5d3ucfIAy60SNWOHAw9zZeo8DpG8h1wa3fYSFTzv0eCIF5UmPlOwl5idYapRRlqcgOJZ5Z0mi6JD9bTjsaIzxzGF8NSeIVD/dT3mYzbq4jlp8LxuEFQd/DtyvMu8nlSyJjtCqQmzWtlk2abrGo2SSSShV8x0v+AfDfXVGAYAnGAAAAAElFTkSuQmCC')

    +cardCity('La Trinidad', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADoSURBVAXB30rCUADA4d85m5abs00XKQsq6CJml1H0LEH0KD5DD9FN9AJdB1FEF0ImaZaaomDNP5WbubO+T1xdPybFdZvRWx2ZsfDLPum0zvQ7JIpCTDPLIhZoJXetkrMdvtotpJJs7fkshcaKlhBMZuTMDO/tBlrBiSv1xg1uqUi3+UT/Y8D93S2LREAc0eu8cnF5jm5kHT7VhIdYI4iHHFVfmKZ2UPMAxkOMZQ86ffTnWgtlpTg49hiLJspYpWBvkHddpKEzH8zY9gT62ckptVFI9SfgV20SWB77+RApANPG2j3E+Av5B/2XWtOuL5SIAAAAAElFTkSuQmCC')

    +cardCity('San Nicolás', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADfSURBVAXBS07CUABA0VtahIJNGzFUywDESCIMWEAnbIHtuA5nLsIFOHBOooHgzC/QKtBoA+YJ/T7PUa5HucwlxJmkYUiWArZ70AoKIFFQcMoSza15jF99Xj6+GE2f6PV7GIZJIuYs/TWr2ZxH8Yt2e3PF5MFjEYSYdYv78R1nbYdTu0gqQkpxwuV5Dc17XmM3dC7cLn/+DzLLsUoRUa4SCxNkkelkS6HdtHEHQxbvPtWyyl4GZOo34SrAsir0WzbdThMtsCAK3kg3MZVjnUN0krRKp+VwclRnd7Bj8znjH8ImX6wQg+7GAAAAAElFTkSuQmCC')

    +cardCity('Tisey - La Estanzuela', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADXSURBVAXBv07CQADA4d9d25RisS1agolxYCDRgTCoz+DqG+ibOPt6DiY6OBkoCtc/lGstvfP7xOJ6Zl0sTdvQ6pa75ZzZ8p7b51eSQPCRG4aewLmaTl6+V2vOxhESiTGWKluR9z6Lmzlxl/H5/oZ4enywujtSFgWb7Y74NMSRECQxcuDQdC2qWePqes8oGSOs4VcVCMcjPY/pTY/qvvjTlmJT41bqB0dadmWNkJLLacpJMCCvtuQqYF9m9K3AHUURSncIx+MiHXI4aELfw+Dja8lRhMQTyz+4tl0rJVSFpQAAAABJRU5ErkJggg==')

    +cardCity('Achuapa', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADrSURBVAXBTy/DYADA4V/nXdFtpQvZhUzSLHZxJxIH4uQjOfoKLuLmJuLgTyzxARyIREaWJRJ0Gm1jWGm3l3Xv63mM7yTVpYKF1oqLsyPu7m/phAFB2ENjkWnJ/u4eotV+wMgE/vMrgfdGiVnqZZuao0CNyLTB8cEh4vLknIptMUgSBv0UqfIwTDGF5m+oyIkxPt875ORIMjEpeLy6ZmV9g6JbZ2l1jXJlDu/FZ3lzC2tqBhF5Ee2bJlkY0Tht8NFLacpfulFAEPg8be8Qx18I160RF4r0px3iqEtOaWxh4sxXWawukDfH+ZEp/0lxabqfB5o8AAAAAElFTkSuQmCC')

    +cardCity('Murra', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADeSURBVAXBXUvCUACA4Xc7Bz/OJmvtxjKIJIwo+gNdd9dt/8f/Fd1HgojsQhv0YbIywbFYHnOenZ7HeRw92HgS8zQYY6oNnifY8zvc3twRhfs0G4oSiXCU7ifJDCl3BC2Hyhg224xRPKbQJV4rJPB9hMh++uWuot2JqNcFpqpwrEU1DavvV4bxPc+TIfL6/Jjfms90MKV70cWVloaqoQuNlQVrnfOSfSE9L6B3ecVpWfGWvlPqFVHUYzFfkhvLxzzDWpBCSKR0OYxC/tySA3VC++iMmUr4XKSs0xy9FfwDnJZg5vHLKqgAAAAASUVORK5CYII=')

    +cardCity('El Espinal', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADiSURBVAXBTU+CAACA4TcgQRwM02KTZWs4qkMH19bFeerQb+jQpXM/tK+t8lBbHbQ1NmOWgHwICPQ8W+fji1pcB5QVbKsKznDI8eUNm0aLTFTIohDLPkLS5IJN8kcYluRhjjv55kD36HRtwjRnsap4eVogGSzpOxb3zzP2um3KMkHwC/x4xuPkDtGQSaIUqaggTDPauzucngxwBjaj8YjP1wfc6Rd+nJPmNdLt9RWyqlEJDfr7FoIgkgVz6nzNmXPIz3LF1PWQ9I6J9xvQMw0+3t+os5hqHaFrLXqmQVNVMJoC/44GX6/GGyjlAAAAAElFTkSuQmCC')

    +cardCity('Yalí', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADpSURBVAXBTS/DAACA4befW2W1z8QkRpYsDpwcnEn8MfED/Ag3Z4kDN4ctEXNgQWmWaYeG0ZV+bl3reYT+dT//9EXGXwme98OTkyHY93yXWoQLgSiekQQ+YqVaQ9cKbLUrpJHLdktno5lQXdis1nV22mWajTJyUSuwtiJQb1SxjTn7B5t0z3oo2YTdvSZCFpHOdWRJzMmlnIfBHZb1ysfI4PG2x/DdY73TQS0tY5ovyOcXl8yCXwY3V4yGz4y7p1hvU5I05eT4iGJNw53GSLnvHMaOwSKLUVQVy/nDnIQEooY7V3BDkSVB5h8pUWnOK09yrAAAAABJRU5ErkJggg==')

  article(class="py-12 sm:py-16 md:py-20 xl:py-28 text-left sm:text-center bg-light-50")
    div(class="container mx-auto px-4")
      h2(class="text-3xl sm:text-4xl font-bold mb-8") Conoce sobre la Terminal Sur de Estelí
      div(class="space-y-4")
        p(class="mx-auto mt-5 text-base sm:text-lg md:max-w-5xl lg:max-w-6xl mb-4")
          strong La terminal de buses Pedro José Vargas,
          | &nbsp;mejor conocida como&nbsp;
          em Cotrán Sur
          | &nbsp;fue inagurada en el año 2003, es una cooperativa independiente y privada que brinda el servicio de transporte Inter-Urbano desde Estelí hacia distintos municipios de Nicaragua.
        p(class="mx-auto mt-5 text-base sm:text-lg md:max-w-5xl lg:max-w-6xl mb-4")
          strong La primera terminal de buses de la ciudad de Estelí fue fundada en el año 1977,
          | &nbsp;y estaba ubicada en el Parque Central 16 de Julio.&nbsp;
          strong En el año 1983, coincidiendo con la inaguración del Mercado Alfredo Lazo, la terminal de buses fue reubicada,
          | &nbsp;dónde estuvo durante 17 años brindando el servicio de transporte desde ésta parte de la ciudad. Pero debido a problemas de espacio, la falta de un lugar dónde albergaran las unidades de transporte y la inexistencia de una sala de espera para los usuarios, se decidió trasladar la terminal de buses.
        p(class="mx-auto mt-5 text-base sm:text-lg md:max-w-5xl lg:max-w-6xl mb-4") La junta directiva de la Terminal Pedro José Vargas, tomó la decisión de adquirir un terreno dónde pudieran construir una terminal de buses que prestara las condiciones adecuadas para los medios de transporte y para los usuarios,&nbsp;
          strong y en el año 2003 dicha construcción de la Terminal de Buses Inter-Urbanos Pedro José Vargas fue inagurada en la ubicación actual.

        style.
          .aspect-ratio-ts {
            aspect-ratio: 736/982;
          }
          @media (min-width: 992px) {
            .aspect-ratio-ts {
              aspect-ratio: 1024/576;
            }
          }
        figure
          picture
            source(
              type="image/avif"
              data-srcset="/img/terminal-sur-estelibuses-mobile-felix-icaza.avif 912w, /img/terminal-sur-estelibuses-felix-icaza.avif"
            )/
            source(
              type="image/webp"
              data-srcset="/img/terminal-sur-estelibuses-mobile-felix-icaza.webp 912w, /img/terminal-sur-estelibuses-felix-icaza.webp"
            )/
            source(
              type="image/jpeg"
              data-srcset="/img/terminal-sur-estelibuses-mobile-felix-icaza.webp 912w, /img/terminal-sur-estelibuses-felix-icaza.jpg"
            )/
            img(
              alt="Terminal sur de la ciudad de Estelí"
              class="h-auto rounded object-cover object-center w-full max-w-5xl mx-auto lazyload aspect-ratio-ts"
              decoding="async"
              importance="low"
              loading="lazy"
              srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAANCAYAAACQN/8FAAAAAklEQVR4AewaftIAAAFqSURBVF3BTWsTURSA4fece5OxcVIjjYZCdSEWwYULf6j/wbU/Qty4cCGlFTXFWulHbBJNHMh0JrkfR7oQxeeRnLNlM1QEEeFfZsYfaoCKICL8z8y4ISL4KgqlZpwagmBmqCo3VJVqkzioMv5HFWlcZntLuNVxqMLk+pyjX3NOLoZsDo55tfcYP59WzGzFIp2y0DO+1O+4PLvi07hleviU6/Ex1c8Z/uWbF3z+eshyMmN5WVFfJKQNSMpoPqIjjn5Y49v3Nc2HFYtv5zx7NGLiF8xTTdEveb7/hI7v8n1yil+OX7OTWow5D31iq1QWtbHpGydrz+zjW/bvP8D3BruEtuZeb8CVBJpu4HYvEJqSNkxpbchOEfG7wwExb9NuAiEE7uTAaJTYhEjdRvbuFqxthRdLdNVwhSN3lJg8yaDImX6ZkZxw9PAhNKhTRAQVoeiAmWEogiMlR4wOH2PAm0O9AzMQRZ3jL0HF8xuaur2IzCrX5wAAAABJRU5ErkJggg== 912w, data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADcSURBVAXBy07CQABA0TvTaXi0FQU1BI07oyYmhu9l48q4cKG/oHsVQ3gsxASJGMFCtTKljxnPEVGSWd+VSCkxxmCtJbeCp8jQW+Z0XmPkeICahAVN3+KVNwx/59w/r7nqT3nrdon7L3jhBwe7FdT13Q2zRY/B6IHZaIkKXVbRAkcU7GC5aLc5PDlDDW8v+f56pyE1K1PDrSQcp5+0AkhTS6s0peYfofYbAc29c3SiKf9p8izFqSvG8QZH/OClBaePHZQwCVJIgqpDUN2iKCx5vk3dZMhCU9JzJuuAfxueaDVYwy/MAAAAAElFTkSuQmCC"
              data-srcset="/img/terminal-sur-estelibuses-mobile-felix-icaza.jpg 912w, /img/terminal-sur-estelibuses-felix-icaza.jpg"
            )/
          figcaption(class="text-sm text-gray-400 mt-3") Terminal de Buses Pedro José Vargas, mejor conocida como&nbsp;
            em Cotrán Sur
            | .

        h3(class="text-2xl font-bold !mt-14") Ubicación de la Terminal Sur
        p(class="mx-auto mt-5 text-base sm:text-lg md:max-w-5xl lg:max-w-6xl mb-4") La terminal sur de buses está ubicada contiguo al déposito de Restaurantes Tip-Top, en el Kilómetro 148 ½ de la Carretera Panamericana de la ciudad de Estelí.
        iframe#mapa(
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.36184923696!2d-86.35461778460775!3d13.076238590787367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f718c13825dde4b%3A0x69c6340e0429bb84!2sCotran%20Sur!5e0!3m2!1ses-419!2sni!4v1645716354613!5m2!1ses-419!2sni"
          class="lazyload rounded w-full max-w-5xl mx-auto"
          loading="lazy"
          style="border: 0; background: #eee"
          height="450"
        )
        p(class="text-sm text-gray-400 !mt-3") Ubicación de la Terminal Sur de la ciudad de Estelí.
