extends ../../../templates/template.pug
include ../../../utils/pageBlog

block append variables
  - const CURRENT_PAGE = "inicio"
  - const URL = "https://estelibuses.web.app"
  - const ASSETS_PATH = "../../"
  - const HAS_CRITICAL_CSS = false
  - const APPLICATION_NAME = "Estelí Buses"
  - const META_DESCRIPTION = "Aprende a instalar Estelí Buses y empieza acceder directamente desde tu celular, como lo harías con cualquier otra aplicación."
  - const META_ROBOTS = "index, follow"
  - const LANGUAGE = "es"
  - const CURRENT_URL = URL
  - const SOCIAL_TITLE = "Instala Estelí Buses en tu dispositivo"
  - const SOCIAL_DESCRIPTION = META_DESCRIPTION
  - const SOCIAL_IMAGE = ""
  - const SOCIAL_IMAGE_ALT = SOCIAL_TITLE
  - const OPEN_GRAPH_SITE_NAME = ""
  - const TWITTER_CARD = "summary_large_image"

block append title
  title= SOCIAL_TITLE

block append preconnect

block append async-scripts

block append critical-css

block append stylesheets
  link(href=`${ASSETS_PATH}css/style.css` rel="stylesheet")/

block append preload
  link(
    type="image/webp"
    as="image"
    href="img/esteli-buses-logo-black-felix-icaza.webp"
    importance="highest"
    rel="preload"
  )/
  link(
    type="image/webp"
    as="image"
    href="img/esteli-buses-logo-white-felix-icaza.webp"
    importance="highest"
    rel="preload"
  )/

block append defer-scripts

block append content
  +pageBlog
    h1(class="text-4xl sm:text-5xl font-bold mb-8 max-w-screen-lg") Aprende a Instalar Estelí Buses en tu dispositivo
    p(class="text-sm text-gray-500 dark:text-gray-300") 02 Marzo, 2022

    p(class="text-base text-black-200 sm:text-lg dark:text-light-700 !mb-0") Contenido:
    a(
      class="text-orange-600 underline dark:text-orange-300 !mt-2 !mb-6"
      href="/blog/instalar-estelibuses-en-tu-dispositivo#porque-no-crear-una-aplicacion-nativa"
    ) ¿Porqué no crear una aplicación nativa para celulares o para computadoras?

    p(class="text-base text-black-200 sm:text-lg dark:text-light-700")
      strong ¿Quieres acceder fácilmente a la aplicación sin necesidad de estar recondando la URL?
      | , no te preocupes, puedes instalar fácilmente esta aplicación web en tu dispositivo y así usarla fácilmente como si fuera una aplicación nativa instalada en tu celular o computadora. En esta guía aprenderás a instalarla paso a paso.

    section(class="bg-orange-100 text-orange-600 p-4 rounded")
      p Está funcionalidad sólo está disponible en navegadores web modernos.

    p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Bien, si ya has accedido a este sitio web y tienes un navegador compatible con esta funcionalidad,&nbsp;
      strong habrás notado que en la parte inferior izquierda de tu celular aparecerá un botón para instalar esta aplicación web
      | &nbsp;(en computadoras aparece en la parte inferior derecha), que al hacer clic te aparacerá una notificación preguntandóte si deseas instalar la aplicación, y al aceptar se te agregará el icono de esta aplicación a tu pantalla de inicio o aparecerá en el menú de aplicaciones de tu dispositivo.

    style.
      .img-install {
        aspect-ratio: 736/1417;
      }

      @media (min-width: 992px) {
        .img-install {
          aspect-ratio: 1152/736;
        }
      }
    img(
      alt
      class="img-install object-cover object-center"
      srcset="/img/blog/instalar-estelibuses-desde-un-celular-y-una-computadora-mobile-felix-icaza.jpg 960w, /img/blog/instalar-estelibuses-desde-un-celular-y-una-computadora-felix-icaza.jpg"
    )/

    p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Aunque lástimosamente esta funcionalidad solo está limitada a algunos navegadores, como Google Chrome, Chromium, Microsoft Edge, Brave, entre otros. Navegadores como Firefox, Safari y navegadores para celulares denominados como&nbsp;
      em 'Lite' o 'Light' (livianos)
      | &nbsp;pueden caracer de esta funcionalidad.

    h2(class="text-3xl sm:text-4xl font-bold !mt-14") ¿Cómo instalarla si no me aparece el botón de instalar?

    p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Si de casualidad no te aparece el botón, en Google Chrome, puedes instalarla fácilmente llendo a la opción&nbsp;
      em
        strong 'Agregar a la pantalla principal'
      | &nbsp;o&nbsp;
      em
        strong 'Instalar aplicación'
      | .

    img(
      src="/img/blog/instalar-estelibuses-desde-un-celular-chrome-android-felix-icaza.jpg"
      alt
      class="object-cover object-center"
    )/

    p(class="text-base text-black-200 sm:text-lg dark:text-light-700")
      em Esta opción puede estar en otra ubicación o tener otro nombre en algunos navegadores.

    p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Y si te encuentras en una computadora, puedes hacer lo mismo. Haciendo clic en el icono de la computadora que aparecerá en la barra de direcciones.

    img(
      src="/img/blog/instalar-estelibuses-desde-una-computadora-chrome-felix-icaza.jpg"
      alt
      class="object-cover object-center"
    )/

    p(class="text-base text-black-200 sm:text-lg dark:text-light-700") O bien haciendo clic en las opciones y elegir&nbsp;
      em
        strong 'Instalar Estelí Buses'
      | .

    img(
      src="/img/blog/instalar-estelibuses-desde-una-computadora-chrome-opciones-felix-icaza.jpg"
      alt
      class="object-cover object-center max-w-full"
    )/

    p(class="text-base text-black-200 sm:text-lg dark:text-light-700") En Safari para iOS, afortunadamente podrás añadir está aplicación a tu pantalla de inicio, como podrás ver en el siguiente ejemplo.

    img(
      src="/img/blog/instalar-estelibuses-desde-safari-felix-icaza.jpg"
      alt
      class="object-cover object-center"
    )/

    p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Si deseas obtener guías exhaustivas para tu navegador favorito, puedes realizar en internet una búsqueda como esta&nbsp;
      em 'como instalar una pwa en (nombre de tu navegador favorito)'
      | &nbsp;y podrás encontrar cientos de guías dónde explican fácilmente este proceso.

    p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Por último, si no puedes de ninguna manera instalarla en tu pantalla de inicio, puedes añadir la URL en los favoritos o marcadores de tu navegador web.

    h2#porque-no-crear-una-aplicacion-nativa(
      class="text-3xl sm:text-4xl font-bold !mt-14"
    ) ¿Porqué no crear una aplicación nativa para celulares o para computadoras?

    p(class="text-base text-black-200 sm:text-lg dark:text-light-700")
      strong Respuesta corta:
      | &nbsp;Sería muy complicado el manteminiento y limitaría el acceso a muchos usuarios.

    p(class="text-base text-black-200 sm:text-lg dark:text-light-700") La razón principal de haberla creado como un sitio web y dotarla de funcionalidades como instalarla en tu dispositivo (solo en navegadores compatibles), es que así será mucho más fácil de acceder para todos, sin importar si usas un celular Android o un iPhone, además también puedes acceder desde tablets o computadoras, prácticamente desde cualquier dispositivo.

    p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Mientras que haberla creado como aplicación para Android, por ejemplo, hará que esté solamente disponible para estos dispositivos y cualquier usuario que use un iPhone, iPad o una computadora, no podrá llegar a usarla. Pero eso no quiere decir que descarte la posibilidad de crear una aplicación nativa para cada plataforma, sino que apenas estoy iniciando con este proyecto por lo que debes comprender que apenas está en una fase inicial y aún hace falta información que me gustaría haber podido agregar, pero lastimosamente no puedo yo sólo obtener toda la información necesaria, recuerda que este es un proyecto voluntario de mi parte.

    p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Otra característica que puede ser beneficiosa a mi parecer, es que siempre tendrás la versión actualizada de esta aplicación web y no tendrás que descargar nada ni actualizar nada, simplemente abre la aplicación desde tu dispositivo y empezarás a aprovechar todas las novedades instantáneamente.

    p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Pero próximamente iré añadiendo muchas funcionalidades para hacer que tu experiencia usando esta aplicación sea muy agradable y fácil de usar, y sé que una de las más útiles será poder usarla sin conexión a internet (actualmente estoy trabajando en ello), así que te invito que estés pendiente para esta gran noticia.

    p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Espero que te haya servido esta pequeña guía y no olvides compartir esta aplicación web en ¡tus redes sociales!.
