extends ../../templates/template.pug
include ../../utils/pageTerminal
include ../../utils/cardCity

block append variables
  - const CURRENT_PAGE = "terminal-norte"
  - const URL = "https://estelibuses.web.app"
  - const ASSETS_PATH = "../"
  - const HAS_CRITICAL_CSS = false
  - const APPLICATION_NAME = "Estelí Buses"
  - const META_DESCRIPTION = "Conoce todos los horarios de los buses de la Terminal Norte de la ciudad de Estelí."
  - const META_ROBOTS = "index, follow"
  - const LANGUAGE = "es"
  - const CURRENT_URL = URL
  - const SOCIAL_TITLE = "Horarios de la Terminal Norte de Buses de Estelí"
  - const SOCIAL_DESCRIPTION = META_DESCRIPTION
  - const SOCIAL_IMAGE = ""
  - const SOCIAL_IMAGE_ALT = SOCIAL_TITLE
  - const OPEN_GRAPH_SITE_NAME = ""
  - const TWITTER_CARD = "summary_large_image"

block append title
  title= SOCIAL_TITLE

block append preconnect

block append async-scripts

block append critical-css

block append stylesheets
  link(href=`${ASSETS_PATH}css/style.css` rel="stylesheet")/

block append preload

block append defer-scripts
  script(src=`${ASSETS_PATH}js/search.js` defer importance="high")

block append content
  +pageTerminal('terminal-norte', 'Horarios de la terminal norte de Estelí', 'Conoce todos los horarios de la terminal norte de Estelí y elige la ciudad a la que deseas viajar.', 'Del Centro Comercial Erwin 30 metros hacia el sur', '', 'norte', 'Jinotega', 'Somoto', 'Ocotal', 'Yalí', 'Quilalí', 'San Juan de Limay', 'San Juan del Río Coco', 'La Rica', 'San Rafael del Norte', 'Wiwilí', 'El Regadío')
    +cardCity('Jinotega', 'norte', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADNSURBVBXBPUvDQACA4fe+rzW1taJoUBCXjs7SybWLf9fN4l/QQVTQoVYIJdhwiW3N5cTnEXcvIU1OPf8eXhvK0HI+toQt7NoOpwT7fYM+G3vey47LQ8XNZI/PqkMLsFqwbiIyRbKeQc/n9xjXo85PyI9GFMUamVq+q5qDzPL8+MT1dIq4mt2miMU7S0IRoyBJi7EWJQVeRn7R6IvhAGcc4afGOMnia0USCm08UsEuFGySQi8/3hgMM/LjHOf6bG1J0omqXlEsF2yaFmUUfx9+TTarspExAAAAAElFTkSuQmCC')

    +cardCity('Somoto', 'norte', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADmSURBVAXBu07CUACA4b/llBZBgUCBYOJQ7SDxMpgoA25iHB31/XwEJwdXphodjMEL6iAmxjagUnqAnuP3GWfnW/oxf0hYPcWybKRpMplr4kTSzV5Ql31qwkb4rs80ukZGZeLSPrYQgEOnfEU9vMfOZFgyc4h07nCye0zwETAY9HCcAqrg0F5dIKouRpql5W0jtDKZjRd0/Q439ivB8wvtjTxHO3tIw6TRbKFTC5HIhLuHb5q1Cn6xAp7mYNMjiosYYoXP4Yi/8Q9i+BWSKsVlr4+bU9z+zpgKWFse8fb0znqjxERp/gGtW1S4/iR4jQAAAABJRU5ErkJggg==')

    +cardCity('Ocotal', 'norte', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADoSURBVAXBvU7CUACA0a+F0gttsQZ/B9TJweikicZXcPMhHHwOR1/GyZXEkCgSEqwhIqllMAYVSJQi5XJ76znG29c0e+kN+Hx/5XFwzPBHseQ7HK5HeEafo5NTRFGQv2v/0a7fsFZZgd8HNqdNzKzKWLu0woDdvQPqjQBzf2vGXEr6UQ8rbjCLJ1iLbz6ie4pOgVrtluurSwxv1c3Ozi8wM00Sj1BzSbnsY9s5lDbohgHPT03y1e0dkmQC2kQrSacTUBI2Vk4xGg8xChbCtsmrNCXstlALje84+J5AKY0ybdzKBjKVLIsS/66oZHYPNJRaAAAAAElFTkSuQmCC')

    +cardCity('Yalí', 'norte', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADpSURBVAXBTS/DAACA4befW2W1z8QkRpYsDpwcnEn8MfED/Ag3Z4kDN4ctEXNgQWmWaYeG0ZV+bl3reYT+dT//9EXGXwme98OTkyHY93yXWoQLgSiekQQ+YqVaQ9cKbLUrpJHLdktno5lQXdis1nV22mWajTJyUSuwtiJQb1SxjTn7B5t0z3oo2YTdvSZCFpHOdWRJzMmlnIfBHZb1ysfI4PG2x/DdY73TQS0tY5ovyOcXl8yCXwY3V4yGz4y7p1hvU5I05eT4iGJNw53GSLnvHMaOwSKLUVQVy/nDnIQEooY7V3BDkSVB5h8pUWnOK09yrAAAAABJRU5ErkJggg==')

    +cardCity('Quilalí', 'norte', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADdSURBVAXBS06DUABA0Vse8iuWtqiJQcPEmYk7aOLIGRtwC+7ATRiX1bk2wU/TiDYK1QIiH+GJ5wwur6772fkFzw93GBqEi5AgCNhzHVbRI00t8Q481OX9nDp7wss77ArO6oa3m1tWsmM9Nni1BFlro+5GLzifGYmlEPaSbqSh6oJqk9IvW/xfhaFroHK4zzxPyIuCtugxSx3LMok/vmibjvfJlNOjYxRTj0m2KX/VgLaRfKclbdnhOlM0odDLH7psgSqVEUNDYIgea0fBGduc+D7rTYwhBHlRE20n/AOxc2GK8ORBHgAAAABJRU5ErkJggg==')

    +cardCity('San Juan de Limay', 'norte', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADgSURBVAXBu0rDUACA4T85J2kuhBgMrajgVAdHB3ehCE6OToLgK/hgPkBddPEF6lZQSgVj4yVpTk5Pksbvs27urvrLyYTs/YM0Tjg7vyZNU2zLwrQdtWnJqxq5/Jvx9PhGkRkiV/Iym3N6cUsYxdSmoa4URi2QiRVxnBzxa2mcQY9q5kwf7tkITeDUNLTEm33kWtR8/SyJ/AB/4DHaHRLojG+5ptr2CMvGUQa5txOQDg8QnU3+uWC1yukCFycSFHpL4vnoUiFPxodMn18ZBSGxG1MWisovGbchntOiG4FUkn+qf1rJP6L68AAAAABJRU5ErkJggg==')

    +cardCity('San Juan del Río Coco', 'norte', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADfSURBVAXB3U6CYACA4Rf8wDKFJcjGbM3ooOVBbXU33UI30IV0WNfSBXRmJy1nP/6UKDYRBD/jk55He+59lNPRAGo+VdPgyKujlGKTZXx+jZnOIxbRAqGKLePhgF3ao9p2Gb5CqVUoSpDLkD3Lp905R//5HrIWJabjYeg2i3xJIlccdwKC7hVx8ou230Dc3d7QvbymJrfkVh31F2NZNt6hzY4KsZwwe3pA2JSk/TdcduRuA2lK3sM+j/cvNA7qWIaJpgQiOG1ycXZC02lRaAaTcIQmdHynxTpJWUVzVLbhH3kyXUe85a1tAAAAAElFTkSuQmCC')

    +cardCity('La Rica', 'norte', '', 'no-image')

    +cardCity('San Rafael del Norte', 'norte', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADqSURBVAXBzy7DcADA8W/bn3at/tEydCQj8Scu0jTsIi57BC/gVbwFD+Hg4gGcHGqRONlhqWIWrczqz6Ibrc9H2jw+q6aDO3xbox2ucR7XQZKxij6T21OEXDEc5cjO8gYL4RG2ZbLqaiy5NYKGxKLnoK+3eUlzyj8QW76JZQjGU4eD/V1yNcNXhkSde1aCkFKovN5cIGrJJa4uKN4HRJFC0zBIszcOW9s8jQVJDCNNoGSVeiKPv5g1TfaCHWx7jv5DgqTqDOIuH49dbG0G0WrWaXg27rxHL35GUQTD7wmdq2vSNOO3rPj5LPgHGyJPuCv6n5oAAAAASUVORK5CYII=')

    +cardCity('Wiwilí', 'norte', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADSSURBVAXBsU6EMACA4b+2gHAoiYTBOOmmiaODT+ebuLr7AI7mBl0cTuNwyUUYiCEgcIUehfp94umjcneXCfnecXMmiSQ0Dqa+Zvv9yu31PSKIUYWR7IuF4FjhBjiNYBYzTVUgwox2EaSej3K2R7cNQ61xjaOrf5m6Et38MGjLy/qLeJWinh8f6MeJ2RxIQslJHHGRjfh+RmsirNgRyByV6jVZ4lH89aRhyufGUEYBV+c1lZ4ZZwGLQ71vdtBJjJ0pk5qDtSwrj7d8C+IIbSx9NfEPRrtpT4P1VeQAAAAASUVORK5CYII=')

    +cardCity('El Regadío', 'norte', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADJSURBVAXBy1LCMABA0Zukj0llKCjCdEQRkZULfoBx7f+v3LiShWOstYXSR2jiOeL1be+zp5TFcknXWqJQEYeSY/3JaARXaYLWY4JYS5SQlLnhYk9MJwOdELSNpy4l/lCRrVpkGAWUeU0iU9Qw5uPdkn85im9HYS7M5zH2bJHOCW5mmofbLZNphFIK7yKapiPUA3n1R9UcCa5nsNu+gNPcZxnGGH5MiwPaziNOluL3TPC8WhOqO+reEokFm8c1cMAJjxU9VdkTJwH/lSBWA5YqaS8AAAAASUVORK5CYII=')

  article(class="py-12 sm:py-16 md:py-20 xl:py-28 text-left sm:text-center bg-light-50")
    div(class="container mx-auto px-4")
      h2(class="text-3xl sm:text-4xl font-bold mb-8") Conoce sobre la Terminal Norte de Estelí
      div(class="space-y-4")
        p(class="mx-auto mt-5 text-base sm:text-lg md:max-w-5xl lg:max-w-6xl mb-4") La terminal norte o mejor conocida como&nbsp;
          em Cotrán Norte
          | &nbsp; está ubicada del Centro Comercial Erwin 30 metros hacia el sur, contiguo a la Carretera Panamericana.

        style.
          .aspect-ratio-tn {
            aspect-ratio: 544/726;
          }
          @media (min-width: 768px) {
            .aspect-ratio-tn {
              aspect-ratio: 1024/576;
            }
          }
        figure
          picture
            source(
              type="image/avif"
              data-srcset="/img/terminal-norte-estelibuses-mobile-felix-icaza.avif 600w, /img/terminal-norte-estelibuses-felix-icaza.avif"
            )/
            source(
              type="image/webp"
              data-srcset="/img/terminal-norte-estelibuses-mobile-felix-icaza.webp 600w, /img/terminal-norte-estelibuses-felix-icaza.webp"
            )/
            source(
              type="image/jpeg"
              data-srcset="/img/terminal-norte-estelibuses-mobile-felix-icaza.webp 600w, /img/terminal-norte-estelibuses-felix-icaza.jpg"
            )/
            img(
              alt="Terminal norte de la ciudad de Estelí"
              class="h-auto rounded object-cover object-center w-full max-w-5xl mx-auto lazyload aspect-ratio-tn"
              decoding="async"
              importance="low"
              loading="lazy"
              srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAANCAYAAACQN/8FAAAAAklEQVR4AewaftIAAAF0SURBVB3B7WoTQRSA4fecOdndfHWDSmNiqfjDO/CevQC9hP7QahEVW7ClIkQsUrMlyWaTnZ0Zic8jV4sqFXnB3u85fjzGnLD3UD1sWD5U7L3HiWGn0yNUhPtVwAdhvWlpmh2rzZrVes2+bYkebGDKQWYCMRFiR91s6XxHCpGmbqg3NXZ2/oHZdMpsOmVQKF1/SN+Ez1ffuftzx8X7d3y9+Ii9ef2WmIT5rM/pScnfZcX17S031Z56W3P/e8FROcF+Xl/y4uUrft1848v5gkFPadrISMc8a4zJeM7TyTHWHyqfLs84GuWMRyfUIRAkkGUZP6olVo4ZDrdYEzoelQVFUeCco8hzVEEV5s+f0DPHMgSsLEtUFRHBqaIKZoZTYdAvcKIIoM45/ksJSZGUAkpCRRAEEqSUMN+2HDin+AQaHV46fIgQO0JIdKHD1DlUBERwzqEkQPE+QEqoQp7nWMIhvQxECTGiPcdutyXGyMEw67Gpa/4Bo56svyUlb3MAAAAASUVORK5CYII= 600w, data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADcSURBVAXBO0vDUBiA4ffLOc0xTZOmdqlOFt0KLuLg4tDZnyoIBTcHwUFwKqgF8QJeCFpspdBc2jTn+DzykC5dwxPqusJoRacdkJcb0umMp8mE68sL/vIKfXd7Q0MJw5MjtpOAvHb8TGfcj8dcjc5ZlRmLjYeEUeJ8XzM8PWO/v0d/1/H48sV7+kvkGVylGRwP0FG3R2iE5eKbz4+M+byJ4NjptlG2pswsz2+v6MODHq1mSBwnGGPQyiPY8lEiOGfxgzVZsUbHYQtRGmstDsGJIitWCI4iz9FKUMrjH+6cVkYrr15+AAAAAElFTkSuQmCC"
              data-srcset="/img/terminal-norte-estelibuses-mobile-felix-icaza.jpg 600w, /img/terminal-norte-estelibuses-felix-icaza.jpg"
            )/
          figcaption(class="text-sm text-gray-400 mt-3") Terminal Norte de la ciudad de Estelí.
    iframe#mapa(
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.2767920870906!2d-86.3543146846077!3d13.081636290783834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f718c6c8f2298e7%3A0x855d282eb62cfeed!2sCotran%20Norte!5e0!3m2!1ses-419!2sni!4v1645728089801!5m2!1ses-419!2sni"
      allowfullscreen
      class="lazyload rounded w-full max-w-5xl mx-auto !mt-14"
      loading="lazy"
      style="border: 0; background: #eee"
      height="450"
    )
