article(class="py-12 sm:py-16 md:py-20 xl:py-28 container mx-auto px-4")
  section(class="space-y-6 mb-10 lg:mb-16 lg:text-center")
    h2(
      class="text-3xl sm:text-4xl font-bold text-center text-hex-3b0d15 dark:text-orange-50"
    ) Todos los horarios de la ciudad de Estelí
    p(class="mx-auto mt-5 text-base text-center sm:text-lg md:max-w-5xl lg:max-w-6xl") Estelí Buses te ayuda a conocer de forma fácil, rápida y confiable todos los horarios de los principales destinos de la terminal norte y de la terminal sur de la ciudad de Estelí.

  article(
    class="flex flex-col md:flex-row items-center justify-center gap-16 text-center"
  )
    section
      div(class="mb-4")
        div(class="rounded-full bg-emerald-100 p-3 w-max h-max mx-auto")
          svg(
            class="fill-current text-emerald-400"
            viewBox="0 0 24 24"
            width="40"
            height="40"
          )
            path(
              d="M18 11H6V6h12m-1.5 11a1.5 1.5 0 0 1-1.5-1.5 1.5 1.5 0 0 1 1.5-1.5 1.5 1.5 0 0 1 1.5 1.5 1.5 1.5 0 0 1-1.5 1.5m-9 0A1.5 1.5 0 0 1 6 15.5 1.5 1.5 0 0 1 7.5 14 1.5 1.5 0 0 1 9 15.5 1.5 1.5 0 0 1 7.5 17M4 16a3 3 0 0 0 1 2.2V20a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1h8v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1.8a3 3 0 0 0 1-2.2V6c0-3.5-3.6-4-8-4s-8 .5-8 4v10Z"
            )/
      h3(class="mb-2 text-2xl font-bold text-emerald-500") Terminal norte
      p(class="max-w-sm mx-auto px-4") La terminal norte cuenta con 22 destinos principales.
      a(
        class="mt-4 mt-4 rounded font-semibold space-x-1 py-2.5 px-5 transition-colors inline-flex items-center text-emerald-500 any-hover:text-emerald-700 active:text-emerald-700 any-hover:bg-emerald-100 active:bg-emerald-100 active:outline-none"
        href="/terminal-norte-esteli"
      )
        span Conoce los destinos
        span
          svg(class="fill-current mt-0.65" width="26" height="26")
            path(d="m8.6 16.6 4.6-4.6-4.6-4.6L10 6l6 6-6 6-1.4-1.4Z")/

    section
      div(class="mb-4")
        div(class="rounded-full bg-yellow-100 p-3 p-3 w-max h-max mx-auto")
          svg(
            class="fill-current text-yellow-400"
            viewBox="0 0 24 24"
            width="40"
            height="40"
          )
            path(
              d="M18 11H6V6h12m-1.5 11a1.5 1.5 0 0 1-1.5-1.5 1.5 1.5 0 0 1 1.5-1.5 1.5 1.5 0 0 1 1.5 1.5 1.5 1.5 0 0 1-1.5 1.5m-9 0A1.5 1.5 0 0 1 6 15.5 1.5 1.5 0 0 1 7.5 14 1.5 1.5 0 0 1 9 15.5 1.5 1.5 0 0 1 7.5 17M4 16a3 3 0 0 0 1 2.2V20a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1h8v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1.8a3 3 0 0 0 1-2.2V6c0-3.5-3.6-4-8-4s-8 .5-8 4v10Z"
            )/
      h3(class="mb-2 text-2xl font-bold text-yellow-500") Terminal sur
      p(class="max-w-sm mx-auto px-4") La terminal sur cuenta con 10 destinos principales.
      a(
        class="mt-4 rounded font-semibold space-x-1 py-2.5 px-5 transition-colors inline-flex items-center text-yellow-500 any-hover:text-yellow-700 active:text-yellow-700 any-hover:bg-yellow-100 active:bg-yellow-100 active:outline-none"
        href="/terminal-sur-esteli"
      )
        span Conoce los destinos
        span
          svg(class="fill-current mt-0.65" width="26" height="26")
            path(d="m8.6 16.6 4.6-4.6-4.6-4.6L10 6l6 6-6 6-1.4-1.4Z")/
