article(class="py-12 sm:py-16 md:py-20 xl:py-28 container mx-auto px-4")
  section(class="my-10 lg:my-16 lg:text-center")
    h2(class="text-3xl sm:text-4xl font-bold text-center") Preguntas frecuentes

  section(class="max-w-6xl mx-auto space-y-0.5")
    div
      button(
        class="flex font-semibold w-full accordion bg-orange-100 dark:bg-hex-2D231B py-3 px-4 text-left items-center justify-between any-hover:text-orange-500 transition-colors focus:text-orange-500"
      )
        span ¿Cuál es número de teléfono de la terminal norte?
        svg(class="fill-current mt-0.65" viewBox="0 0 24 24" width="26" height="26")
          path(d="m7.4 8.6 4.6 4.6 4.6-4.6L18 10l-6 6-6-6 1.4-1.4Z")/
      div(class="panel overflow-hidden max-h-0 transition-all")
        p(class="py-3 px-4") Si deseas comunicarte con la terminal norte y obtener información más detallada, puedes hacerlo al número&nbsp;
          a(class="text-orange-500 underline" href="tel:2713-2529") 2713-2529
          | &nbsp;extensión 102.

    div
      button(
        class="flex font-semibold w-full accordion bg-orange-50 dark:bg-hex-362d25 py-3 px-4 text-left items-center justify-between any-hover:text-orange-500 transition-colors focus:text-orange-500"
      )
        span ¿Cuál es número de teléfono para comunicarme con la terminal sur?
        svg(class="fill-current mt-0.65" viewBox="0 0 24 24" width="26" height="26")
          path(d="m7.4 8.6 4.6 4.6 4.6-4.6L18 10l-6 6-6-6 1.4-1.4Z")/
      div(class="panel overflow-hidden max-h-0 transition-all")
        p(class="py-3 px-4") Para comunicarte con la terminal sur y obtener información más detallada, puedes llamar al número de teléfono&nbsp;
          a(class="text-orange-500 underline" href="tel:2713-6162") 2713-6162
          | .

    div
      button(
        class="flex font-semibold w-full accordion bg-orange-100 dark:bg-hex-2D231B py-3 px-4 text-left items-center justify-between any-hover:text-orange-500 transition-colors focus:text-orange-500"
      )
        span ¿Cuáles son los horarios de Estelí hacia León?
        svg(class="fill-current mt-0.65" viewBox="0 0 24 24" width="26" height="26")
          path(d="m7.4 8.6 4.6 4.6 4.6-4.6L18 10l-6 6-6-6 1.4-1.4Z")/
      div(class="panel overflow-hidden max-h-0 transition-all")
        p(class="py-3 px-4") Si quieres conocer los horarios de Estelí hacia León puedes consultar los horarios de los&nbsp;
          a(
            class="text-orange-500 underline"
            href="/terminal-sur-esteli/horarios-esteli-leon"
          ) buses que salen desde la terminal sur hacia León
          | . Los buses que salen desde la terminal norte no tienen hora fija de salida, por eso no están añadidos en la plataforma, estos salen desde las 06:30 am.

    div
      button(
        class="flex font-semibold w-full accordion bg-orange-50 dark:bg-hex-362d25 py-3 px-4 text-left items-center justify-between any-hover:text-orange-500 transition-colors focus:text-orange-500"
      )
        span ¿Por qué no encuentro mi destino en específico?
        svg(class="fill-current mt-0.65" viewBox="0 0 24 24" width="26" height="26")
          path(d="m7.4 8.6 4.6 4.6 4.6-4.6L18 10l-6 6-6-6 1.4-1.4Z")/
      div(class="panel overflow-hidden max-h-0 transition-all")
        p(class="py-3 px-4") Debido a que no se ha podido verificar las paradas de los buses, no existe de forma específica los horarios de algunos destinos. Pero puedes consultar los horarios de los destinos principales de la&nbsp;
          a(class="text-orange-500 underline" href="/terminal-norte-esteli") terminal norte
          | &nbsp;que son 22 y de la&nbsp;
          a(class="text-orange-500 underline" href="/terminal-sur-esteli") terminal sur
          | &nbsp;que son 10.

    div
      button(
        class="flex font-semibold w-full accordion bg-orange-100 dark:bg-hex-2D231B py-3 px-4 text-left items-center justify-between any-hover:text-orange-500 transition-colors focus:text-orange-500"
      )
        span ¿Por qué no se ha añadido el precio de los pasajes?
        svg(class="fill-current mt-0.65" viewBox="0 0 24 24" width="26" height="26")
          path(d="m7.4 8.6 4.6 4.6 4.6-4.6L18 10l-6 6-6-6 1.4-1.4Z")/
      div(class="panel overflow-hidden max-h-0 transition-all")
        p(class="py-3 px-4") Los precios de los pasajes solamente son manejados por los transportistas y para evitar algún tipo de desacuerdo o colocar precios no verificados, de momento se ha optado por omitir esa información.

    script.
      const accordion = document.querySelectorAll(".accordion");
      console.log(accordion);

      for (let i = 0; i < accordion.length; i++) {
        accordion[i].addEventListener("click", function () {
          const panel = this.nextElementSibling;

          if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
          } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
          }
        });
      }
