- const citiesNorth = ["Managua (Terminal Norte)", "Jinotega", "Somoto", "Ocotal", "San Juan de Limay", "Pueblo Nuevo", "Quilal칤", "Yal칤 (Terminal Norte)", "San Juan del R칤o Coco", "San Rafael del Norte", "El Regad칤o", "Wiwil칤", "El Sauce", "Achuapa (Terminal Norte)", "La Concordia", "Jalapa", "Masaya", "La Pita", "La Rica", "San Marcos de Col칩n", "Oro Verde"]
- const convertCitiesNorth = citiesNorth.map(city => city.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "").replace(/\s\(\w{8}\s\w{5}\)/, "").replace(/\s/g, "-"))
- const citiesSouth = ["Managua (Terminal Sur)", "Matagalpa", "Le칩n", "La Trinidad", "San Nicol치s", "Tisey - La Estanzuela", "Achuapa (Terminal Sur)", "Murra", "El Espinal", "Yal칤 (Terminal Sur)"]
- const convertCitiesSouth = citiesSouth.map(city => city.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "").replace(/\s\(\w{8}\s\w{3}\)/, "").replace(/\s/g, "-"))

header#mainPage(class="wave")
  div(class="container mx-auto px-4")
    include ../components/navbar

    section(
      class="flex flex-col justify-center items-center pt-18 pb-26 xs:pb-36 lg:pt-28 lg:pb-34 xl:pb-44 2xl:pb-54 text-center"
    )
      h1(
        class="text-4xl sm:text-5xl font-bold mb-8 max-w-screen-lg text-white text-shadow-sm z-2"
      ) Horarios de las terminales de buses de la ciudad de Estel칤
      p(
        class="text-base sm:text-lg max-w-screen-lg text-white text-shadow-sm z-2 font-semibold"
      ) 춰Planea con exactitud la hora de tu pr칩ximo viaje!
      section(class="text-center mt-8 mb-8 z-2")
        form#main-search(
          autocomplete="on"
          class="w-full max-w-xl mx-auto transition-colors space-y-4"
        )
          label(class="text-2xl block text-white font-semibold" for="cities-search") Busca tu ciudad de destino
          section(
            class="grid grid-cols-[1fr,100px] shadow-lg shadow-orange-500/10 any-hover:shadow-orange-600/10"
          )
            input#cities-search(
              type="search"
              placeholder="Busca tu ciudad.."
              class="border border-orange-400 py-2.5 px-4 w-full block outline-none focus:ring-4 focus:ring-orange-400 focus:ring-opacity-50 focus:border-orange-500 rounded rounded-r-none caret-orange-500 placeholder-orange-900 placeholder-opacity-40 dark:bg-cool-gray-800 dark:placeholder-orange-100"
            )/
            button#search-citities-button(
              type="button"
              class="rounded rounded-l-none font-semibold py-2.5 px-5 transition-colors any-hover:bg-orange-500 bg-orange-400 text-white basis-30 inline-flex justify-center items-center active:outline-none active:ring-4 active:ring-orange-400 active:ring-opacity-75"
            )
              svg(
                aria-hidden="true"
                class="w-4"
                focusable="false"
                role="img"
                viewBox="0 0 512 512"
              )
                path(
                  d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
                  fill="currentColor"
                )/

        section(class="relative w-full h-1px")
          section#container-cities(
            class="absolute pointer-events-none rounded-b top-0 transform bg-white transform translate-y-full transition transition-transform opacity-0 transition-opacity shadow-md w-full max-w-xl mx-auto dark:bg-cool-gray-800"
          )
            ul(class="space-y-2 pb-2 px-4")
              each cityNorth, index in citiesNorth
                li(class="cities text-left hidden")
                  a(
                    class="group py-2 px-4 w-full block flex gap-2 mt-2 font-semibold transition-colors active:bg-orange-100 rounded"
                    href=`/terminal-norte-esteli/horarios-esteli-${convertCitiesNorth[index]}`
                  )
                    svg(
                      class="fill-current w-6 h-6 group-any-hover:text-orange-500 transition-colors"
                      viewBox="0 0 24 24"
                    )
                      path(
                        d="M18 11H6V6h12m-1.5 11a1.5 1.5 0 0 1-1.5-1.5 1.5 1.5 0 0 1 1.5-1.5 1.5 1.5 0 0 1 1.5 1.5 1.5 1.5 0 0 1-1.5 1.5m-9 0A1.5 1.5 0 0 1 6 15.5 1.5 1.5 0 0 1 7.5 14 1.5 1.5 0 0 1 9 15.5 1.5 1.5 0 0 1 7.5 17M4 16a3 3 0 0 0 1 2.2V20a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1h8v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1.8a3 3 0 0 0 1-2.2V6c0-3.5-3.6-4-8-4s-8 .5-8 4v10Z"
                      )/
                    span(class="group-any-hover:text-orange-500 transition-colors")= cityNorth

              each citySouth, index in citiesSouth
                li(class="cities text-left hidden")
                  a(
                    class="group py-2 px-4 w-full block flex gap-2 mt-2 font-semibold transition-colors active:bg-orange-100 rounded"
                    href=`/terminal-sur-esteli/horarios-esteli-${convertCitiesSouth[index] === 'tisey---la-estanzuela' ? 'tisey-la-estanzuela' : convertCitiesSouth[index]}`
                  )
                    svg(
                      class="fill-current w-6 h-6 group-any-hover:text-orange-500 transition-colors"
                      viewBox="0 0 24 24"
                    )
                      path(
                        d="M18 11H6V6h12m-1.5 11a1.5 1.5 0 0 1-1.5-1.5 1.5 1.5 0 0 1 1.5-1.5 1.5 1.5 0 0 1 1.5 1.5 1.5 1.5 0 0 1-1.5 1.5m-9 0A1.5 1.5 0 0 1 6 15.5 1.5 1.5 0 0 1 7.5 14 1.5 1.5 0 0 1 9 15.5 1.5 1.5 0 0 1 7.5 17M4 16a3 3 0 0 0 1 2.2V20a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1h8v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1.8a3 3 0 0 0 1-2.2V6c0-3.5-3.6-4-8-4s-8 .5-8 4v10Z"
                      )/
                    span(class="group-any-hover:text-orange-500 transition-colors")= citySouth

              li#unknown-city(
                class="hidden py-2 px-4 font-semibold text-left !border-0"
              ) No est치 disponible tu b칰squeda 游땞
