include ../utils/cardBlog

article(class="py-12 sm:py-16 md:py-20 xl:py-28")
  div(class="container mx-auto px-4")
    ins(
      class="adsbygoogle"
      style="display: block"
      data-ad-client="ca-pub-4534198821642047"
      data-ad-format="auto"
      data-ad-slot="2659594376"
      data-full-width-responsive="true"
    )
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});

    section(class="space-y-6 my-10 lg:my-16 lg:text-center")
      h2#novedades(class="text-3xl sm:text-4xl font-bold text-center") Novedades
      p(class="mx-auto mt-5 text-base text-center sm:text-lg md:max-w-5xl lg:max-w-6xl") En esta sección encontrás guías detalladas de cómo empezar a utilizar y aprovechar todas las novedades o funcionalidades que se irán añadiendo progresivamente a esta aplicación web.
    article(class="flex flex-col md:flex-row items-center justify-center gap-12")
      +cardBlog('Ahora puedes acceder a Estelí Buses sin conexión a internet', '14 Marzo, 2022', 'Es una de las funcionalades más importantes y seguramente muy necesitada y ya puedes empezar a disfrutarla.', 'blog/ahora-puedes-acceder-a-esteli-buses-sin-conexion-a-internet')
      +cardBlog('Instala Estelí Buses en tu dispositivo', '02 Marzo, 2022', 'Aprende a instalar Estelí Buses y empieza acceder directamente desde tu celular, como lo harías con cualquier otra aplicación.', 'blog/instalar-estelibuses-en-tu-dispositivo')
