section(class="py-12 sm:py-16 md:py-20 xl:py-28")
  div(class="container mx-auto px-4")
    section(class="grid lg:grid-cols-2 gap-12 lg:gap-14 mt-12 lg:items-center")
      section(class="w-full")
        picture
          source(
            type="image/avif"
            data-srcset="img/soporte-offline-estelibuses.avif"
          )/
          source(
            type="image/webp"
            data-srcset="img/soporte-offline-estelibuses.webp"
          )/
          source(
            type="image/png"
            data-srcset="img/soporte-offline-estelibuses.png"
          )/
          img(
            alt="Soporte offline de Estelí Buses"
            class="h-auto object-cover object-center w-full filter saturate-130 dark:saturate-100"
            crossorigin="anonymous"
            decoding="async"
            importance="low"
            loading="lazy"
            srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAYAAAALpr0TAAAAAklEQVR4AewaftIAAAFoSURBVGNkQAM/DjmyM3/jjmR4wGXH+D3wMkthZD8DEDAyAMGTBmeu708uLmRg/CGqKM164K+5wTOWx/5+fwQWXGb7aVPFGDvlPzMDEDiJ/ZefeODZjBc8agpaAYUOvMxcvv+/7OR7/Y61ktnyU0Jzij0XCwMQiOvb3RE+/+hCsJOCgcjHToa/wl8YGLQ5JVa08Z//ePjPnG9v7nUyMwDB7H0XGWwlWH68YpUMMHN7wvDuFwMD2+ufDPe+CDBs3njX6Pn7r7JMDFDgqsD67dKFMwy/GPQZfvz4w3CTk5VBzek3gzAXM4Myzz8tlt8X3X3evvqcvLn+lBavDj/DySfMDK9ZFRlkGF8x8DA8ZEhzEDv5/b9wGMuzTc/e3jp8zXL1YwZxRfk/DG+vfmZwFHzAwPLk/1sWJoU27r9vJ6kuu/KH5fedl7fEuJleuon+Efl089drqZ/Xjwsa8qz/K62/ljN31zcGKAAA3/SN1l4s+ZMAAAAASUVORK5CYII="
            style="aspect-ratio: 724/685"
            data-srcset="img/soporte-offline-estelibuses.png"
          )/
      section(class="lg:sticky lg:top-8 space-y-7")
        h2(
          class="text-3xl sm:text-4xl font-bold text-center text-hex-3b0d15 dark:text-orange-50"
        ) ¿Te quedaste sin internet?
        p(
          class="mx-auto mt-5 text-base text-center sm:text-lg md:max-w-5xl lg:max-w-6xl"
        ) ¡No te preocupes! puedes seguir accediendo a Estelí Buses aún si te quedaste sin conexión a internet, para que puedas consultar sin ningún problemas los horarios de salida de las terminales.
        p(
          class="mx-auto mt-5 text-base text-center sm:text-lg md:max-w-5xl lg:max-w-6xl"
        ) No tienes que hacer nada, solamente ingresando a Estelí Buses todos los datos estarán disponible para ti para cuándo te quedes sin conexión.
