article(class="py-8 sm:py-10 bg-light-100 dark:bg-hex-151D2D")
  div(class="container mx-auto px-4")
    section(class="space-y-6 mb-10 lg:mb-16 lg:text-center")
      h2(class="text-3xl sm:text-4xl font-bold text-center") Los Estelianos confían en Estelí Buses

    article(
      class="flex items-center gap-3 sm:gap-14 snap snap-mandatory overflow-x-scroll 2xl:overflow-hidden pb-3"
    )
      section(class="snap-center basis-81 flex-shrink-0 flex gap-4 items-center")
        div
          section(class="rounded-full bg-indigo-100 p-3 w-max h-max mx-auto")
            svg(
              class="fill-current text-indigo-500"
              viewBox="0 0 24 24"
              width="45"
              height="45"
            )
              path(
                d="M9 11.8A1.3 1.3 0 0 0 7.7 13 1.3 1.3 0 0 0 9 14.3a1.3 1.3 0 0 0 1.3-1.3A1.3 1.3 0 0 0 9 11.7m6 0a1.3 1.3 0 0 0-1.3 1.3 1.3 1.3 0 0 0 1.3 1.3 1.3 1.3 0 0 0 1.3-1.3 1.3 1.3 0 0 0-1.3-1.3M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2m0 18a8 8 0 0 1-8-8v-.9c2.4-1 4.3-3 5.3-5.3a10 10 0 0 0 10.4 4A8 8 0 0 1 12 20Z"
              )/
        div
          p(class="font-semibold mb-1") Gerald Hernández
          p Esta plataforma es excelente porque así podemos organizar mejor nuestro tiempo.

      section(class="snap-center basis-81 flex-shrink-0 flex gap-4 items-center")
        div
          section(class="rounded-full bg-rose-100 p-3 w-max h-max mx-auto")
            svg(
              class="fill-current text-rose-500"
              viewBox="0 0 24 24"
              width="45"
              height="45"
            )
              path(
                d="M13.8 13a1.3 1.3 0 1 1 2.5 0 1.3 1.3 0 0 1-2.6 0m8.3-1v10H2V12C2 6.5 6.5 2 12 2s10 4.5 10 10M4 12a8 8 0 1 0 15.7-2.3 10 10 0 0 1-10.4-4A10 10 0 0 1 4 11.2L4 12m5 2.3a1.3 1.3 0 1 0 0-2.6 1.3 1.3 0 0 0 0 2.6Z"
              )/
        div
          p(class="font-semibold mb-1") Yamileth Rodríguez
          p Es una gran herramienta de apoyo para las y los estelianos.

      section(class="snap-center basis-81 flex-shrink-0 flex gap-4 items-center")
        div
          section(class="rounded-full bg-lime-100 p-3 w-max h-max mx-auto")
            svg(
              class="fill-current text-lime-500"
              viewBox="0 0 24 24"
              width="45"
              height="45"
            )
              path(
                d="M13.8 13a1.3 1.3 0 1 1 2.5 0 1.3 1.3 0 0 1-2.6 0m8.3-1v10H2V12C2 6.5 6.5 2 12 2s10 4.5 10 10M4 12a8 8 0 1 0 15.7-2.3 10 10 0 0 1-10.4-4A10 10 0 0 1 4 11.2L4 12m5 2.3a1.3 1.3 0 1 0 0-2.6 1.3 1.3 0 0 0 0 2.6Z"
              )/
        div
          p(class="font-semibold mb-1") Yadira Castillo
          p Excelente, ya que no había un lugar dónde encontrar esa información.

      section(class="snap-center basis-81 flex-shrink-0 flex gap-4 items-center")
        div
          section(class="rounded-full bg-teal-100 p-3 w-max h-max mx-auto")
            svg(
              class="fill-current text-teal-500"
              viewBox="0 0 24 24"
              width="45"
              height="45"
            )
              path(
                d="M9 11.8A1.3 1.3 0 0 0 7.7 13 1.3 1.3 0 0 0 9 14.3a1.3 1.3 0 0 0 1.3-1.3A1.3 1.3 0 0 0 9 11.7m6 0a1.3 1.3 0 0 0-1.3 1.3 1.3 1.3 0 0 0 1.3 1.3 1.3 1.3 0 0 0 1.3-1.3 1.3 1.3 0 0 0-1.3-1.3M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2m0 18a8 8 0 0 1-8-8v-.9c2.4-1 4.3-3 5.3-5.3a10 10 0 0 0 10.4 4A8 8 0 0 1 12 20Z"
              )/
        div
          p(class="font-semibold mb-1") Francisco Morales
          p Es una excelente iniciativa y una plataforma muy útil.

    section(class="mt-4")
      p(class="text-right text-xs") ¿Quiéres aparecer acá?&nbsp;
        a(
          class="underline font-semibold any-hover:text-orange-500 active:text-orange-500 transition-colors"
          href="https://forms.gle/sYKj4pqKRaC5s4LL7"
          rel="nofollow"
          target="_blank"
        ) Llena este formulario&nbsp;
          svg(class="fill-current inline" viewBox="0 0 24 24" width="12" height="12")
            path(
              d="M14 3v2h3.6l-9.8 9.8 1.4 1.4L19 6.4V10h2V3m-2 16H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7h-2v7Z"
            )/
        | .
