article(class="py-10 sm:py-12 bg-hex-FFFDF9 dark:bg-hex-2D231B")
  div(class="container mx-auto px-4")
    section(class="space-y-6 mb-10 lg:mb-16 lg:text-center")
      h2(
        class="text-3xl sm:text-4xl font-bold text-center text-hex-3b0d15 dark:text-orange-50"
      ) Los Estelianos conf칤an en Estel칤 Buses

    article(
      class="grid items-start gap-4 sm:gap-8 snap snap-mandatory overflow-x-scroll pb-4 mx-auto users-comments"
    )
      section(
        class="snap-center h-full bg-white dark:bg-hex-30251b bg-opacity-50 py-2 px-3 rounded shadow flex flex-col gap-2 text-center justify-start items-center"
      )
        div
          section(class="rounded-full bg-hex-ebf8ff p-3 w-max h-max mx-auto")
            svg(
              class="fill-current text-hex-33B8FF"
              viewBox="0 0 24 24"
              width="45"
              height="45"
            )
              path(
                d="M13.75 13a1.25 1.25 0 1 1 2.5 0 1.25 1.25 0 0 1-2.5 0M22 12v10H2V12C2 6.5 6.5 2 12 2s10 4.5 10 10M4 12a8.01 8.01 0 0 0 16 0c0-.79-.12-1.55-.33-2.26A9.97 9.97 0 0 1 9.26 5.77a10.06 10.06 0 0 1-5.21 5.37C4 11.42 4 11.71 4 12m5 2.25a1.25 1.25 0 1 0 0-2.5 1.25 1.25 0 0 0 0 2.5Z"
              )/
        div(class="space-y-1")
          p(class="font-semibold mb-1") Karla Molina
          p(class="italic") Me encanta la aplicaci칩n muy f치cil de usar y es de mucha ayuda para saber los horarios.

      section(
        class="snap-center h-full bg-white dark:bg-hex-30251b bg-opacity-50 py-2 px-3 rounded shadow flex flex-col gap-2 text-center justify-start items-center"
      )
        div
          section(class="rounded-full bg-gray-200 p-3 w-max h-max mx-auto")
            svg(
              class="fill-current text-dark-500"
              viewBox="0 0 24 24"
              width="45"
              height="45"
            )
              path(
                d="M9 11.75A1.25 1.25 0 0 0 7.75 13 1.25 1.25 0 0 0 9 14.25 1.25 1.25 0 0 0 10.25 13 1.25 1.25 0 0 0 9 11.75m6 0A1.25 1.25 0 0 0 13.75 13 1.25 1.25 0 0 0 15 14.25 1.25 1.25 0 0 0 16.25 13 1.25 1.25 0 0 0 15 11.75M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2m0 18c-4.41 0-8-3.59-8-8 0-.29 0-.58.05-.86a10.06 10.06 0 0 0 5.21-5.37 9.97 9.97 0 0 0 10.41 3.97A7.97 7.97 0 0 1 12 20Z"
              )/
        div(class="space-y-1")
          p(class="font-semibold mb-1") Lester Vallecillo
          p(class="italic")
            | Muy 칰til&nbsp;
            span(class="not-italic") 游때游땙.

      section(
        class="snap-center h-full bg-white dark:bg-hex-30251b bg-opacity-50 py-2 px-3 rounded shadow flex flex-col gap-2 text-center justify-start items-center"
      )
        div
          section(class="rounded-full bg-indigo-100 p-3 w-max h-max mx-auto")
            svg(
              class="fill-current text-indigo-500"
              viewBox="0 0 24 24"
              width="45"
              height="45"
            )
              path(
                d="M9 11.75A1.25 1.25 0 0 0 7.75 13 1.25 1.25 0 0 0 9 14.25 1.25 1.25 0 0 0 10.25 13 1.25 1.25 0 0 0 9 11.75m6 0A1.25 1.25 0 0 0 13.75 13 1.25 1.25 0 0 0 15 14.25 1.25 1.25 0 0 0 16.25 13 1.25 1.25 0 0 0 15 11.75M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2m0 18c-4.41 0-8-3.59-8-8 0-.29 0-.58.05-.86a10.06 10.06 0 0 0 5.21-5.37 9.97 9.97 0 0 0 10.41 3.97A7.97 7.97 0 0 1 12 20Z"
              )/
        div(class="space-y-1")
          p(class="font-semibold") Gerald Hern치ndez
          p(class="italic") Esta plataforma es excelente porque as칤 podemos organizar mejor nuestro tiempo.

      section(
        class="snap-center h-full bg-white dark:bg-hex-30251b bg-opacity-50 py-2 px-3 rounded shadow flex flex-col gap-2 text-center justify-start items-center"
      )
        div
          section(class="rounded-full bg-rose-100 p-3 w-max h-max mx-auto")
            svg(
              class="fill-current text-rose-500"
              viewBox="0 0 24 24"
              width="45"
              height="45"
            )
              path(
                d="M13.75 13a1.25 1.25 0 1 1 2.5 0 1.25 1.25 0 0 1-2.5 0M22 12v10H2V12C2 6.5 6.5 2 12 2s10 4.5 10 10M4 12a8.01 8.01 0 0 0 16 0c0-.79-.12-1.55-.33-2.26A9.97 9.97 0 0 1 9.26 5.77a10.06 10.06 0 0 1-5.21 5.37C4 11.42 4 11.71 4 12m5 2.25a1.25 1.25 0 1 0 0-2.5 1.25 1.25 0 0 0 0 2.5Z"
              )/
        div(class="space-y-1")
          p(class="font-semibold mb-1") Yamileth Rodr칤guez
          p(class="italic") Es una gran herramienta de apoyo para las y los estelianos.

      section(
        class="snap-center h-full bg-white dark:bg-hex-30251b bg-opacity-50 py-2 px-3 rounded shadow flex flex-col gap-2 text-center justify-start items-center"
      )
        div
          section(class="rounded-full bg-lime-100 p-3 w-max h-max mx-auto")
            svg(
              class="fill-current text-lime-500"
              viewBox="0 0 24 24"
              width="45"
              height="45"
            )
              path(
                d="M13.75 13a1.25 1.25 0 1 1 2.5 0 1.25 1.25 0 0 1-2.5 0M22 12v10H2V12C2 6.5 6.5 2 12 2s10 4.5 10 10M4 12a8.01 8.01 0 0 0 16 0c0-.79-.12-1.55-.33-2.26A9.97 9.97 0 0 1 9.26 5.77a10.06 10.06 0 0 1-5.21 5.37C4 11.42 4 11.71 4 12m5 2.25a1.25 1.25 0 1 0 0-2.5 1.25 1.25 0 0 0 0 2.5Z"
              )/
        div(class="space-y-1")
          p(class="font-semibold mb-1") Yadira Castillo
          p(class="italic") Excelente, ya que no hab칤a un lugar d칩nde encontrar esa informaci칩n.

      section(
        class="snap-center h-full bg-white dark:bg-hex-30251b bg-opacity-50 py-2 px-3 rounded shadow flex flex-col gap-2 text-center justify-start items-center"
      )
        div
          section(class="rounded-full bg-teal-100 p-3 w-max h-max mx-auto")
            svg(
              class="fill-current text-teal-500"
              viewBox="0 0 24 24"
              width="45"
              height="45"
            )
              path(
                d="M9 11.75A1.25 1.25 0 0 0 7.75 13 1.25 1.25 0 0 0 9 14.25 1.25 1.25 0 0 0 10.25 13 1.25 1.25 0 0 0 9 11.75m6 0A1.25 1.25 0 0 0 13.75 13 1.25 1.25 0 0 0 15 14.25 1.25 1.25 0 0 0 16.25 13 1.25 1.25 0 0 0 15 11.75M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2m0 18c-4.41 0-8-3.59-8-8 0-.29 0-.58.05-.86a10.06 10.06 0 0 0 5.21-5.37 9.97 9.97 0 0 0 10.41 3.97A7.97 7.97 0 0 1 12 20Z"
              )/
        div(class="space-y-1")
          p(class="font-semibold mb-1") Francisco Morales
          p(class="italic") Es una excelente iniciativa y una plataforma muy 칰til.

      section(
        class="snap-center h-full bg-white dark:bg-hex-30251b bg-opacity-50 py-2 px-3 rounded shadow flex flex-col gap-2 text-center justify-start items-center"
      )
        div
          section(class="rounded-full bg-cyan-100 p-3 w-max h-max mx-auto")
            svg(
              class="fill-current text-cyan-500"
              viewBox="0 0 24 24"
              width="45"
              height="45"
            )
              path(
                d="M9 11.75A1.25 1.25 0 0 0 7.75 13 1.25 1.25 0 0 0 9 14.25 1.25 1.25 0 0 0 10.25 13 1.25 1.25 0 0 0 9 11.75m6 0A1.25 1.25 0 0 0 13.75 13 1.25 1.25 0 0 0 15 14.25 1.25 1.25 0 0 0 16.25 13 1.25 1.25 0 0 0 15 11.75M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2m0 18c-4.41 0-8-3.59-8-8 0-.29 0-.58.05-.86a10.06 10.06 0 0 0 5.21-5.37 9.97 9.97 0 0 0 10.41 3.97A7.97 7.97 0 0 1 12 20Z"
              )/
        div(class="space-y-1")
          p(class="font-semibold mb-1") Steven Rodr칤guez
          p(class="italic") Gracias a esta iniciativa ahora es muy f치cil conocer los horarios.

      section(
        class="snap-center h-full bg-white dark:bg-hex-30251b bg-opacity-50 py-2 px-3 rounded shadow flex flex-col gap-2 text-center justify-start items-center"
      )
        div
          section(class="rounded-full bg-orange-100 p-3 w-max h-max mx-auto")
            svg(
              class="fill-current text-orange-500"
              viewBox="0 0 24 24"
              width="45"
              height="45"
            )
              path(
                d="M9 11.75A1.25 1.25 0 0 0 7.75 13 1.25 1.25 0 0 0 9 14.25 1.25 1.25 0 0 0 10.25 13 1.25 1.25 0 0 0 9 11.75m6 0A1.25 1.25 0 0 0 13.75 13 1.25 1.25 0 0 0 15 14.25 1.25 1.25 0 0 0 16.25 13 1.25 1.25 0 0 0 15 11.75M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2m0 18c-4.41 0-8-3.59-8-8 0-.29 0-.58.05-.86a10.06 10.06 0 0 0 5.21-5.37 9.97 9.97 0 0 0 10.41 3.97A7.97 7.97 0 0 1 12 20Z"
              )/
        div(class="space-y-1")
          p(class="font-semibold mb-1") Carlos Aguirre
          p(class="italic") Me gusta mucho esta plataforma, es muy f치cil de usar.

      section(
        class="snap-center h-full bg-white dark:bg-hex-30251b bg-opacity-50 py-2 px-3 rounded shadow flex flex-col gap-2 text-center justify-start items-center"
      )
        div
          section(class="rounded-full bg-pink-100 p-3 w-max h-max mx-auto")
            svg(
              class="fill-current text-pink-500"
              viewBox="0 0 24 24"
              width="45"
              height="45"
            )
              path(
                d="M13.75 13a1.25 1.25 0 1 1 2.5 0 1.25 1.25 0 0 1-2.5 0M22 12v10H2V12C2 6.5 6.5 2 12 2s10 4.5 10 10M4 12a8.01 8.01 0 0 0 16 0c0-.79-.12-1.55-.33-2.26A9.97 9.97 0 0 1 9.26 5.77a10.06 10.06 0 0 1-5.21 5.37C4 11.42 4 11.71 4 12m5 2.25a1.25 1.25 0 1 0 0-2.5 1.25 1.25 0 0 0 0 2.5Z"
              )/
        div(class="space-y-1")
          p(class="font-semibold mb-1") Maria Acu침a
          p(class="italic") Me encanta que puedo acceder cu치ndo no tengo internet.

    section(class="mt-4")
      p(class="text-right text-sm") 쯈ui칠res aparecer ac치?&nbsp;
        a(
          class="font-semibold any-hover:text-orange-500 active:text-orange-500 transition-colors"
          href="https://forms.gle/sYKj4pqKRaC5s4LL7"
          rel="nofollow"
          target="_blank"
        ) Llena este formulario&nbsp;
          svg(
            class="fill-current inline -mt-0.5"
            viewBox="0 0 24 24"
            width="12"
            height="12"
          )
            path(
              d="M14 3v2h3.6l-9.8 9.8 1.4 1.4L19 6.4V10h2V3m-2 16H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7h-2v7Z"
            )/
        | .
