section(class="container mx-auto px-4 mt-22 mb-8")
  style.
    .banner {
      aspect-ratio: 1/1;
    }
    @media (min-width: 992px) {
      .banner {
        aspect-ratio: 1200/250;
      }
    }

  figure
    section(class="shadow")
      //- picture
      //- source(
      //- type="image/avif"
      //- data-srcset="https://res.cloudinary.com/fx-icaza/image/upload/q_auto:low,w_560/v1651427365/estelibuses-ads/banner-agencia-de-viajes-tisey-mobile.avif 768w, https://res.cloudinary.com/fx-icaza/image/upload/q_auto:low,w_1200/v1651427365/estelibuses-ads/banner-agencia-de-viajes-tisey.avif"
      //- )/
      //- source(
      //- type="image/webp"
      //- data-srcset="https://res.cloudinary.com/fx-icaza/image/upload/q_auto:low,w_560/v1651427365/estelibuses-ads/banner-agencia-de-viajes-tisey-mobile.webp 768w, https://res.cloudinary.com/fx-icaza/image/upload/q_auto:low,w_1200/v1651427365/estelibuses-ads/banner-agencia-de-viajes-tisey.webp"
      //- )/
      //- img(
      //- alt="Agencia de Viajes Tisey - Estelí, Nicaragua"
      //- class="h-auto object-cover object-center w-full rounded-t lazyload banner"
      //- decoding="async"
      //- fetchpriority="low"
      //- importance="low"
      //- loading="lazy"
      //- srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAklEQVR4AewaftIAAAFqSURBVD3BTUvbYADA8b95nibt09qwdnVISmsFJxVHYWMI89zDLh68DHbYad/AL+C+wWCfw6M77CAoCO6NTdCDO4ytTWM792KbmMY0Type9vvNLL16N43VHbo+/7WKmr4fYRqCjBCslvPITdXnFwE7Zo1RPOXWQJssljI4sxbNSp5S5GGsN0wagwPa9zQYBre8IOGJk+VlS/G8VeDh77fIiWViZ1M27C6HYZM/oaaSDjnuDdlwd7nIlckRI9qrte28UoTnP2jcLROpOo/0MfXghKCwzJzfYTxVyGJOMb6OmC/NUgw+YTk2C/5H/g2/87fZhr7HqTdCup5Lp+tSKUDfD7m/7OEOv+AOXFT6husHj6lW68glO8axiowjTTZvY6dTji5zjJIq4ucZZ6WQFecFcm3rNXudA57VnvL56zeEFKxIgdYpwdWYSZwwN19GDrwrdK/Cfu+U9x9OEMYMYTShoCwSrZkkKZaV4QY3N5En84NGLQAAAABJRU5ErkJggg== 768w, data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAACCAYAAABhYU3QAAAAAklEQVR4AewaftIAAABYSURBVAXBTQpAQBiA4XcmhbKQhQWncRj3cho7riAyC5IRyk+jz/OobjOSBBHTuKOUQkS47pflOKkaQ32nlOmCN3SW/rWss0VE0Frj3EcY+hRPS25nYsn4AeS0KF5jehNeAAAAAElFTkSuQmCC"
      //- data-srcset="https://res.cloudinary.com/fx-icaza/image/upload/q_auto:low,w_560/v1651427365/estelibuses-ads/banner-agencia-de-viajes-tisey-mobile.jpg 768w, https://res.cloudinary.com/fx-icaza/image/upload/q_auto:low,w_1200/v1651427365/estelibuses-ads/banner-agencia-de-viajes-tisey.jpg"
      //- )/
      a(
        class="block"
        href="https://felixicaza.com/?utm_source=estelibuses&utm_medium=website&utm_campaign=estelibuses_banner&utm_content=banner"
        target="_blank"
      )
        img(
          alt="Desarrollo Web Profesional en Nicaragua Félix Icaza"
          class="h-auto object-cover object-center w-full rounded-t lazyload banner"
          decoding="async"
          fetchpriority="low"
          importance="low"
          loading="lazy"
          style="background-color: #333"
          data-srcset="/anuncios/felixicaza-mobile.webp 768w, /anuncios/felixicaza-desktop.webp"
        )/
      section(
        class="bg-hex-00f8d1 text-black py-3 px-4 lg:items-center rounded-b flex flex-col lg:flex-row lg:justify-between gap-4 transform -translate-y-px 2xl:-translate-x-px"
      )
        section(class="flex flex-col sm:flex-row sm:items-center sm:gap-2")
          p(class="font-semibold") Conoce todos los servicios en:
          section(class="flex gap-6")
            a(
              class="any-hover:underline"
              href="https://felixicaza.com/?utm_source=estelibuses&utm_medium=website&utm_campaign=estelibuses_banner&utm_content=banner_footer"
              target="_blank"
            ) https://felixicaza.com

        section(class="flex flex-col gap-4 lg:flex-row")
          //- section(class="flex gap-4 items-center")
          //- p(class="font-semibold") Llámanos:
          //- a(
          //- class="any-hover:text-orange-200 active:text-orange-200 transition-colors flex items-center"
          //- href="tel:27133099"
          //- target="_blank"
          //- )
          //- svg(class="fill-current" viewBox="0 0 24 24" width="25" height="25")
          //- path(
          //- d="M6.6 10.8c1.5 2.8 3.8 5.1 6.6 6.6l2.2-2.2a1 1 0 0 1 1-.3c1.2.4 2.4.6 3.6.6a1 1 0 0 1 1 1V20a1 1 0 0 1-1 1A17 17 0 0 1 3 4a1 1 0 0 1 1-1h3.5a1 1 0 0 1 1 1c0 1.3.2 2.5.6 3.6 0 .3 0 .7-.3 1l-2.2 2.2Z"
          //- )/
          //- span &nbsp;2713-3099

          section(class="flex gap-2 items-center")
            p(class="font-semibold") Envía un mensaje:
            a(
              class="any-hover:underline flex items-center gap-2"
              href="https://wa.me/50557279567"
              target="_blank"
            )
              svg(class="fill-current" viewBox="0 0 24 24" width="25" height="25")
                path(
                  d="M12 2a10 10 0 0 0-8.6 14.9L2 22l5.3-1.4A10 10 0 1 0 12 2m0 1.7A8.2 8.2 0 1 1 7.9 19l-.2-.2-3.2.8.9-3-.2-.3a8.3 8.3 0 0 1 7-12.6M8.5 7.3a1 1 0 0 0-.6.3c-.3.3-.9.9-.9 2.1 0 1.2.9 2.4 1 2.6.1.1 1.8 2.6 4.3 3.7.5.3 1 .4 1.4.5.6.2 1 .2 1.5.1.5 0 1.5-.6 1.7-1.2.2-.5.2-1 .1-1.1l-.4-.3-1.7-.8c-.3-.1-.4-.1-.6.1l-.8 1c-.1.1-.3.2-.5 0-.3 0-1-.4-2-1.2a7.6 7.6 0 0 1-1.4-1.7c-.1-.3 0-.4.1-.5l.4-.5.3-.4v-.4l-.8-1.8c-.2-.5-.4-.5-.6-.5h-.5Z"
                )/
              span 5727-9567

    figcaption(class="text-sm mt-2 md:text-right")
      svg(
        class="fill-current inline -mt-0.75"
        viewBox="0 0 24 24"
        width="18"
        height="18"
      )
        path(
          d="M19 7a2 2 0 0 0-2 2v2c0 1.1.9 2 2 2h2v2h-4v2h4a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2h-2V9h4V7h-4M9 7v10h4a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2H9m2 2h2v6h-2V9M3 7a2 2 0 0 0-2 2v8h2v-4h2v4h2V9a2 2 0 0 0-2-2H3m0 2h2v2H3V9Z"
        )/
      | &nbsp;
      em Publicidad
      | &nbsp;- ¿Quiéres publicar un anuncio?&nbsp;
      a(
        class="font-semibold any-hover:text-orange-500 active:text-orange-500 transition-colors"
        href="/contacto"
      ) Envía un mensaje
      | .
