div(class="my-10 lg:my-16")
  div(
    class="lazyadsense"
    style="display: block"
    data-ad-client="ca-pub-4534198821642047"
    data-ad-format="auto"
    data-ad-slot="2659594376"
    data-full-width-responsive="true"
  )
