div(
  class="w-full h-86.25 md:h-70 flex items-center justify-center overflow-hidden container mx-auto p-4 my-10 lg:my-16 rounded relative ads-load"
)
  div(
    class="flex flex-col bg-gray-50 dark:bg-hex-1e1308 w-full h-full gap-2 items-center justify-center absolute top-0 left-0 ads-placeholder"
  )
    p(class="text-gray-500 dark:text-gray-200 text-lg") Cargando Anuncio...
    div
      svg(
        class="animate-spin text-gray-500 dark:text-gray-200"
        fill="none"
        viewBox="0 0 24 24"
        width="20"
        height="20"
      )
        circle(
          class="opacity-25"
          cx="12"
          cy="12"
          r="10"
          stroke="currentColor"
          stroke-width="4"
        )/
        path(
          class="opacity-75"
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          fill="currentColor"
        )/
  ins(
    class="adsbygoogle"
    style="display: block"
    data-ad-client="ca-pub-4534198821642047"
    data-ad-format="auto"
    data-ad-slot="2659594376"
    data-full-width-responsive="true"
  )
  script.
    (adsbygoogle = window.adsbygoogle || []).push({});
