article#alert(class="py-4 px-2 bg-orange-600 text-white")
  div(class="container mx-auto px-4 flex justify-between gap-4")
    section(class="w-full")
      svg(
        class="fill-current float-left mr-4"
        viewBox="0 0 24 24"
        width="34"
        height="34"
      )
        path(d="M13 14h-2V9h2m0 9h-2v-2h2M1 21h22L12 2 1 21Z")/
      p(class="font-semibold lg:mt-1") Este sitio web aún está en desarrollo, por lo que alguna información es de prueba y puede no estar completa o verificada en su totalidad.
    span(
      class="font-bold text-3xl cursor-pointer -mt-0.5 any-hover:text-orange-900 active:text-orange-900 transition-colors"
      onclick="document.getElementById('alert').style.display='none';"
    ) &times;
