div#bg-modal(
  class="h-full bg-dark-900 bg-opacity-85 w-full opacity-0 transition-opacity top-0 ease-in-out bottom-0 z-10 duration-200 fixed backdrop-filter pointer-events-none backdrop-blur-1"
)

aside#mobile(
  class="bg-orange-300 dark:bg-hex-180f06 dark:text-white h-full opacity-100 transform -translate-x-full transition-transform transition-colors top-0 ease-in-out bottom-0 w-9/12 md:w-4/9 lg:w-4/11 xl:w-3/12 z-20 duration-200 fixed pointer-events-none lg:right-0 lg:translate-x-full"
)
  section(class="p-4 flex flex-col justify-between h-full")
    div
      section(class="pb-4 flex justify-between")
        section(
          class="flex gap-2 items-center lg:order-1 any-hover:text-orange-600 active:text-orange-600 transition-colors"
        )
          span(class="lg:order-1")
            svg(class="fill-current" viewBox="0 0 24 24" width="24" height="24")
              path(
                d="M12 3a9 9 0 1 0 8.9 7.6 5.4 5.4 0 0 1-9.8-3.1c0-1.8.9-3.4 2.3-4.4L12 3z"
              )/
          label(class="cursor-pointer lg:order-first" for="switch-scheme") Modo oscuro
        section(class="lg:order-first")
          div(class="relative w-12.25 h-5.75")
            input#switch-scheme(
              type="checkbox"
              class="opacity-0 w-full h-full cursor-pointer sibling:checked:bg-orange-500"
            )/
            span(
              class="absolute -z-1 top-0 left-0 bottom-0 right-0 bg-orange-800/50 transition-all rounded-full before:content-[''] before:absolute before:w-3.5 before:h-3.5 before:left-1 before:bottom-1.16 before:bg-white before:transition-all before:rounded-full slider"
            )

      section(class="py-4 flex justify-between")
        section(
          class="flex gap-2 items-center lg:order-1 any-hover:text-orange-600 active:text-orange-600 transition-colors"
        )
          span(class="lg:order-1")
            svg#sound-disable(
              class="fill-current"
              viewBox="0 0 24 24"
              width="24"
              height="24"
            )
              path(
                d="m5.64 3.64 15.72 15.72-1.41 1.42L16 16.83V20l-5-5H7V9h1.17L4.22 5.05l1.42-1.41M16 4v7.17l-3.59-3.59L16 4Z"
              )/
            svg#sound-enable(
              class="fill-current hidden"
              viewBox="0 0 24 24"
              width="24"
              height="24"
            )
              path(
                d="M14 3.2v2a7 7 0 0 1 0 13.5v2a9 9 0 0 0 0-17.5m2.5 8.8c0-1.8-1-3.3-2.5-4v8a4.4 4.4 0 0 0 2.5-4M3 9v6h4l5 5V4L7 9H3Z"
              )/
          label#label-sound(class="cursor-pointer lg:order-first" for="switch-sound") Desactivar sonidos
        section(class="lg:order-first")
          div(class="relative w-12.25 h-5.75")
            input#switch-sound(
              type="checkbox"
              checked
              class="opacity-0 w-full h-full cursor-pointer sibling:checked:bg-orange-500"
            )/
            span(
              class="absolute -z-1 top-0 left-0 bottom-0 right-0 bg-orange-800/50 transition-all rounded-full before:content-[''] before:absolute before:w-3.5 before:h-3.5 before:left-1 before:bottom-1.16 before:bg-white before:transition-all before:rounded-full slider"
            )

      button#share-aside(
        type="button"
        class="focus:outline-none py-4 w-full any-hover:text-orange-600 active:text-orange-600 transition-colors flex gap-2 items-center lg:justify-end"
        title="¡Comparte Estelí Buses en tus redes sociales!"
      )
        span(class="lg:order-1")
          svg(class="fill-current" viewBox="0 0 24 24" width="24" height="24")
            path(
              d="M18 16a3 3 0 0 0-2 .9l-7-4.2v-1.4l7-4.1a3 3 0 0 0 2 .8 3 3 0 0 0 3-3 3 3 0 0 0-3-3 3 3 0 0 0-3 3v.7L8 9.8A3 3 0 0 0 6 9a3 3 0 0 0-3 3 3 3 0 0 0 3 3 3 3 0 0 0 2-.8l7.2 4.1-.1.7a3 3 0 0 0 5.8 0 3 3 0 0 0-2.9-3Z"
            )/
        span(class="lg:order-first") Compartir

      a(
        class="py-4 w-full any-hover:text-orange-600 active:text-orange-600 transition-colors flex gap-2 items-center lg:justify-end"
        href="/acerca-de-estelibuses"
      )
        span(class="lg:order-1")
          svg(class="fill-current" viewBox="0 0 24 24" width="22" height="22")
            path(
              d="M13 9h-2V7h2m0 10h-2v-6h2m-1-9A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2Z"
            )/
        span(class="lg:order-first") Sobre Estelí Buses

      a(
        class="py-4 w-full any-hover:text-orange-600 active:text-orange-600 transition-colors flex gap-2 items-center lg:justify-end"
        href="/contacto"
      )
        span(class="lg:order-1")
          svg(class="fill-current" viewBox="0 0 24 24" width="22" height="22")
            path(
              d="M20 20H7a2 2 0 0 1-2-2V9L2.2 5.5A1 1 0 0 1 2 5a1 1 0 0 1 1-1h17a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2M8.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-10m0 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-10m0 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-5Z"
            )/
        span(class="lg:order-first") Contacto

    div(class="pb-4")
      include installButton

script.
  if (localStorage.getItem("darkmode") === "true") {
    document.getElementById("switch-scheme").setAttribute("checked", "checked");
  }
  if (localStorage.getItem("sounds_enabled") === "false") {
    document.getElementById("switch-sound").removeAttribute("checked");
    document.getElementById("label-sound").textContent = "Activar sonidos";
    document.getElementById("sound-disable").classList.add("hidden");
    document.getElementById("sound-enable").classList.remove("hidden");
  }
