block currentPage

- const ACTIVE = PAGE

- const terminalNorte = `${ACTIVE === "terminal-norte" ? "text-cool-gray-500" : "any-hover:text-cool-gray-500 active:text-cool-gray-500 transition-colors"} py-2.5 px-6 hidden lg:inline z-2`
- const terminalSur = `${ACTIVE === "terminal-sur" ? "text-cool-gray-500" : "any-hover:text-cool-gray-500 active:text-cool-gray-500 transition-colors"} py-2.5 px-6 hidden lg:inline z-2`
- const acerca = `${ACTIVE === "acerca" ? "text-cool-gray-500" : "any-hover:text-cool-gray-500 active:text-cool-gray-500 transition-colors"} py-2.5 px-6 hidden lg:inline z-2`

nav(class="py-2 flex justify-between items-center")
  a(class="inline-block" href="/")
    picture#logo-main
      source(
        type="image/webp"
        media="(prefers-color-scheme: light)"
        srcset="/img/esteli-buses-logo-black-felix-icaza.webp"
        data-srcset="/img/esteli-buses-logo-black-felix-icaza.webp"
      )/
      source(
        type="image/webp"
        media="(prefers-color-scheme: dark)"
        srcset="/img/esteli-buses-logo-white-felix-icaza.webp"
        data-srcset="/img/esteli-buses-logo-white-felix-icaza.webp"
      )/
      source(
        type="image/png"
        media="(prefers-color-scheme: light)"
        srcset="/img/esteli-buses-logo-black-felix-icaza.png"
        data-srcset="/img/esteli-buses-logo-black-felix-icaza.png"
      )/
      source(
        type="image/png"
        media="(prefers-color-scheme: dark)"
        srcset="/img/esteli-buses-logo-white-felix-icaza.png"
        data-srcset="/img/esteli-buses-logo-white-felix-icaza.png"
      )/
      img(
        alt="Estelí Buses"
        class="object-cover object-center"
        decoding="async"
        importance="high"
        srcset="/img/esteli-buses-logo-black-felix-icaza.png"
        width="150"
        height="60"
        data-srcset="/img/esteli-buses-logo-black-felix-icaza.png"
      )/
  script.
    const logoMain = document.querySelectorAll("#logo-main > source");
    logoMain.forEach(logo => {
      if (localStorage.getItem("darkmode") === "true") {
        if (logo.srcset.includes(".webp")) {
          logo.srcset = "/img/esteli-buses-logo-white-felix-icaza.webp";
        } else {
          logo.srcset = "/img/esteli-buses-logo-white-felix-icaza.png";
        }
      } else {
        if (logo.srcset.includes(".webp")) {
          logo.srcset = "/img/esteli-buses-logo-black-felix-icaza.webp";
        } else {
          logo.srcset = "/img/esteli-buses-logo-black-felix-icaza.png";
        }
      }
    });
  section(class="flex items-center space-x-4 font-medium whitespace-nowrap")
    a(class=terminalNorte href="/terminal-norte-esteli") Terminal norte
    a(class=terminalSur href="/terminal-sur-esteli") Terminal sur
    a(class=acerca href="/acerca-de-estelibuses") Acerca
    button#switch-scheme(
      type="button"
      class="focus:outline-none"
      title="Activa el modo oscuro (Alt+Shift D)"
    )
      svg#dark-icon(class="fill-current" viewBox="0 0 24 24" width="24" height="24")
        path(
          d="M12 3a9 9 0 1 0 8.9 7.6 5.4 5.4 0 0 1-9.8-3.1c0-1.8.9-3.4 2.3-4.4L12 3z"
        )/
      svg#light-icon(
        class="fill-current hidden"
        viewBox="0 0 24 24"
        width="24"
        height="24"
      )
        path(
          d="M3.5 18.5 5 20l1.8-1.7-1.5-1.5m5.7 5.8h2v-3h-2m1-14a6 6 0 0 0-6 6 6 6 0 0 0 6 6 6 6 0 0 0 6-6 6 6 0 0 0-6-6m8 7h3v-2h-3m-2.8 7.7L19 20l1.4-1.5-1.7-1.8m1.8-12.2L19 3l-1.8 1.8 1.5 1.5M13 .5h-2v3h2m-9 7H1v2h3m2.8-7.7L5 3 3.5 4.5l1.8 1.8 1.5-1.5Z"
        )/
    script.
      if (localStorage.getItem("darkmode") === "true") {
        document.getElementById("dark-icon").classList.add("hidden");
        document.getElementById("light-icon").classList.remove("hidden");
        document.getElementById("switch-scheme").setAttribute("title", "Activa el modo claro (Alt+Shift D)");
      }
