block currentPage

- const ACTIVE_MOBILE = PAGE

- const inicioMobile = `${ACTIVE_MOBILE === "inicio" ? "text-white" : "active:text-white any-hover:text-white text-orange-900 transition-colors"} flex flex-col items-center p-2`
- const terminalNorteMobile = `${ACTIVE_MOBILE === "terminal-norte" ? "text-white" : "active:text-white any-hover:text-white text-orange-900 transition-colors"} flex flex-col items-center p-2`
- const terminalSurMobile = `${ACTIVE_MOBILE === "terminal-sur" ? "text-white" : "active:text-white any-hover:text-white text-orange-900 transition-colors"} flex flex-col items-center p-2`
- const anunciosMobile = `${ACTIVE_MOBILE === "anuncios" ? "text-white" : "active:text-white any-hover:text-white text-orange-900 transition-colors"} flex flex-col items-center p-2`

nav#navbar-mobile(
  class="sticky z-10 bottom-0 w-full bg-orange-400 grid grid-cols-4 md:gap-12 sm:gap-6 text-center items-center xl:hidden"
)
  a(class=inicioMobile href="/")
    svg(class="fill-current w-6 h-6 sm:w-9 sm:h-9" viewBox="0 0 24 24")
      path(d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8h5Z")/
    span(class="text-xs font-bold sm:text-base") Inicio

  a(class=terminalNorteMobile href="/terminal-norte-esteli")
    svg(class="fill-current w-6 h-6 sm:w-9 sm:h-9" viewBox="0 0 24 24")
      path(
        d="M18 11H6V6h12m-1.5 11a1.5 1.5 0 0 1-1.5-1.5 1.5 1.5 0 0 1 1.5-1.5 1.5 1.5 0 0 1 1.5 1.5 1.5 1.5 0 0 1-1.5 1.5m-9 0A1.5 1.5 0 0 1 6 15.5 1.5 1.5 0 0 1 7.5 14 1.5 1.5 0 0 1 9 15.5 1.5 1.5 0 0 1 7.5 17M4 16a3 3 0 0 0 1 2.2V20a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1h8v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1.8a3 3 0 0 0 1-2.2V6c0-3.5-3.6-4-8-4s-8 .5-8 4v10Z"
      )/
    span(class="text-xs font-bold sm:text-base whitespace-nowrap xs:hidden") Cotrán norte
    span(class="text-xs font-bold sm:text-base whitespace-nowrap hidden xs:inline") Terminal norte

  a(class=terminalSurMobile href="/terminal-sur-esteli")
    svg(class="fill-current w-6 h-6 sm:w-9 sm:h-9" viewBox="0 0 24 24")
      path(
        d="M18 11H6V6h12m-1.5 11a1.5 1.5 0 0 1-1.5-1.5 1.5 1.5 0 0 1 1.5-1.5 1.5 1.5 0 0 1 1.5 1.5 1.5 1.5 0 0 1-1.5 1.5m-9 0A1.5 1.5 0 0 1 6 15.5 1.5 1.5 0 0 1 7.5 14 1.5 1.5 0 0 1 9 15.5 1.5 1.5 0 0 1 7.5 17M4 16a3 3 0 0 0 1 2.2V20a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1h8v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1.8a3 3 0 0 0 1-2.2V6c0-3.5-3.6-4-8-4s-8 .5-8 4v10Z"
      )/
    span(class="text-xs font-bold sm:text-base whitespace-nowrap xs:hidden") Cotrán sur
    span(class="text-xs font-bold sm:text-base whitespace-nowrap hidden xs:inline") Terminal sur

  a(class=anunciosMobile href="/anuncios")
    svg(class="fill-current w-6 h-6 sm:w-9 sm:h-9" viewBox="0 0 24 24")
      path(
        d="M19 7a2 2 0 0 0-2 2v2c0 1.1.9 2 2 2h2v2h-4v2h4a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2h-2V9h4V7h-4M9 7v10h4a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2H9m2 2h2v6h-2V9M3 7a2 2 0 0 0-2 2v8h2v-4h2v4h2V9a2 2 0 0 0-2-2H3m0 2h2v2H3V9Z"
      )/
    span(class="text-xs font-bold sm:text-base") Anuncios
