block currentPage

- const ACTIVE = PAGE

- const terminalNorte = `${ACTIVE === "terminal-norte" ? "text-emerald-500" : "any-hover:text-emerald-500 active:text-emerald-500 transition-colors"} space-x-1 inline-flex items-center justify-center py-2.5 px-6`
- const terminalSur = `${ACTIVE === "terminal-sur" ? "text-yellow-500" : "any-hover:text-yellow-500 active:text-yellow-500 transition-colors"} space-x-1 inline-flex items-center justify-center py-2.5 px-6`
- const anuncios = `${ACTIVE === "anuncios" ? "text-orange-500" : "any-hover:text-orange-500 active:text-orange-500 transition-colors"} space-x-1 inline-flex items-center justify-center py-2.5 px-6`
- const acerca = `${ACTIVE === "acerca" ? "text-orange-500" : "any-hover:text-orange-500 active:text-orange-500 transition-colors"} space-x-1 inline-flex items-center justify-center py-2.5 px-6`
- const contacto = `${ACTIVE === "contacto" ? "text-orange-500" : "any-hover:text-orange-500 active:text-orange-500 transition-colors"} space-x-1 inline-flex items-center justify-center py-2.5 px-6`

nav(class="py-2 flex justify-between items-center")
  a(class="inline-block" href="/")
    picture
      source(type="image/avif" data-srcset="/img/estelibuses-logo.avif")/
      source(type="image/webp" data-srcset="/img/estelibuses-logo.webp")/
      img(
        alt="Estelí Buses"
        class="object-cover object-center"
        decoding="async"
        importance="highest"
        srcset="/img/estelibuses-logo.webp"
        width="150"
        height="60"
        data-srcset="/img/estelibuses-logo.png"
      )/

  section(
    class="lg:flex lg:items-center lg:space-x-4 lg:font-medium lg:justify-center lg:gap-4 hidden"
  )
    a(class=terminalNorte href="/terminal-norte-esteli")
      span
        svg(class="fill-current" viewBox="0 0 24 24" width="22" height="22")
          path(
            d="M18 11H6V6h12m-1.5 11a1.5 1.5 0 0 1-1.5-1.5 1.5 1.5 0 0 1 1.5-1.5 1.5 1.5 0 0 1 1.5 1.5 1.5 1.5 0 0 1-1.5 1.5m-9 0A1.5 1.5 0 0 1 6 15.5 1.5 1.5 0 0 1 7.5 14 1.5 1.5 0 0 1 9 15.5 1.5 1.5 0 0 1 7.5 17M4 16a3 3 0 0 0 1 2.2V20a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1h8v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1.8a3 3 0 0 0 1-2.2V6c0-3.5-3.6-4-8-4s-8 .5-8 4v10Z"
          )/
      span Terminal norte

    a(class=terminalSur href="/terminal-sur-esteli")
      span
        svg(class="fill-current" viewBox="0 0 24 24" width="22" height="22")
          path(
            d="M18 11H6V6h12m-1.5 11a1.5 1.5 0 0 1-1.5-1.5 1.5 1.5 0 0 1 1.5-1.5 1.5 1.5 0 0 1 1.5 1.5 1.5 1.5 0 0 1-1.5 1.5m-9 0A1.5 1.5 0 0 1 6 15.5 1.5 1.5 0 0 1 7.5 14 1.5 1.5 0 0 1 9 15.5 1.5 1.5 0 0 1 7.5 17M4 16a3 3 0 0 0 1 2.2V20a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1h8v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1.8a3 3 0 0 0 1-2.2V6c0-3.5-3.6-4-8-4s-8 .5-8 4v10Z"
          )/
      span Terminal sur

    a(class=anuncios href="/anuncios")
      span
        svg(class="fill-current" viewBox="0 0 24 24" width="22" height="22")
          path(
            d="M19 7a2 2 0 0 0-2 2v2c0 1.1.9 2 2 2h2v2h-4v2h4a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2h-2V9h4V7h-4M9 7v10h4a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2H9m2 2h2v6h-2V9M3 7a2 2 0 0 0-2 2v8h2v-4h2v4h2V9a2 2 0 0 0-2-2H3m0 2h2v2H3V9Z"
          )/
      span Anuncios

    a(class=acerca href="/acerca-de-estelibuses")
      span
        svg(class="fill-current" viewBox="0 0 24 24" width="22" height="22")
          path(
            d="M13 9h-2V7h2m0 10h-2v-6h2m-1-9A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2Z"
          )/
      span Acerca

    a(class=contacto href="/contacto")
      span
        svg(class="fill-current" viewBox="0 0 24 24" width="22" height="22")
          path(
            d="M20 20H7a2 2 0 0 1-2-2V9L2.2 5.5A1 1 0 0 1 2 5a1 1 0 0 1 1-1h17a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2M8.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-10m0 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-10m0 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-5Z"
          )/
      span Contacto

  section
    button#switch-scheme(
      type="button"
      class="focus:outline-none"
      title="Activa el modo oscuro (Alt+Shift D)"
    )
      svg#dark-icon(class="fill-current" viewBox="0 0 24 24" width="24" height="24")
        path(
          d="M12 3a9 9 0 1 0 8.9 7.6 5.4 5.4 0 0 1-9.8-3.1c0-1.8.9-3.4 2.3-4.4L12 3z"
        )/
      svg#light-icon(
        class="fill-current hidden"
        viewBox="0 0 24 24"
        width="24"
        height="24"
      )
        path(
          d="M3.5 18.5 5 20l1.8-1.7-1.5-1.5m5.7 5.8h2v-3h-2m1-14a6 6 0 0 0-6 6 6 6 0 0 0 6 6 6 6 0 0 0 6-6 6 6 0 0 0-6-6m8 7h3v-2h-3m-2.8 7.7L19 20l1.4-1.5-1.7-1.8m1.8-12.2L19 3l-1.8 1.8 1.5 1.5M13 .5h-2v3h2m-9 7H1v2h3m2.8-7.7L5 3 3.5 4.5l1.8 1.8 1.5-1.5Z"
        )/
    script.
      if (localStorage.getItem("darkmode") === "true") {
        document.getElementById("dark-icon").classList.add("hidden");
        document.getElementById("light-icon").classList.remove("hidden");
        document.getElementById("switch-scheme").setAttribute("title", "Activa el modo claro (Alt+Shift D)");
      }
