mixin breadcrumb(terminalName, city)
  - const convertTerminalName = terminalName.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "").replace(/\s/g, "-")

  - const breadcrumbHome = `${convertTerminalName === "terminal-norte" ? "any-hover:text-emerald-500 active:text-emerald-500" : "any-hover:text-yellow-500 active:text-yellow-500"} transition-colors`
  - const breadcrumbCity = `${convertTerminalName === "terminal-norte" ? "text-emerald-500 dark:text-emerald-500" : "text-yellow-500 dark:text-yellow-500"}`

  style.
    .breadcrumb {
      scrollbar-width: none;
    }

    .breadcrumb::-webkit-scrollbar {
      display: none;
    }

  nav(
    aria-label="breadcrumb"
    class="py-2 whitespace-nowrap overflow-x-scroll breadcrumb"
  )
    ol(class="flex items-center space-x-2")
      li(style="width: 24px; height: 24px")
        a(class=breadcrumbHome href="/" title="Inicio")
          svg(fill="currentColor" viewBox="0 0 24 24" width="24" height="24")
            path(d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8h5Z")/
      li
        svg(fill="currentColor" viewBox="0 0 24 24" width="24" height="24")
          path(d="m8.6 16.6 4.6-4.6-4.6-4.6L10 6l6 6-6 6-1.4-1.4Z")/
      li
        //- prettier-ignore
        a(
          class=`${convertTerminalName === 'terminal-norte' ? 'any-hover:text-emerald-500 active:text-emerald-500' : 'any-hover:text-yellow-500 active:text-yellow-500'} transition-colors font-medium`
          href=`/${convertTerminalName}-esteli`
        )= terminalName
      li
        svg(fill="currentColor" viewBox="0 0 24 24" width="24" height="24")
          path(d="m8.6 16.6 4.6-4.6-4.6-4.6L10 6l6 6-6 6-1.4-1.4Z")/
      li(aria-current="page")
        p(class=breadcrumbCity)= city
