mixin cardCity(city, origin, lqip, noImage)
  - let convertCityName = city.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "").replace(/\s/g, "-")
  - if (convertCityName === 'tisey---la-estanzuela') {
  - convertCityName = "tisey-la-estanzuela"
  - }

  article(
    class="card-city bg-light-100 rounded flex flex-col shadow transition-shadow duration-300 w-full max-w-lg lg:max-w-md overflow-hidden any-hover:shadow-md dark:bg-cool-gray-800"
  )
    a(
      class="group block overflow-hidden"
      href=`/terminal-${origin}-esteli/horarios-esteli-${convertCityName}`
    )
      picture
        if noImage === 'no-image'
          source(
            type="image/avif"
            data-srcset=`/img/terminal-${origin}/horarios-esteli-estelibuses-felix-icaza-card.avif`
          )/
          source(
            type="image/webp"
            data-srcset=`/img/terminal-${origin}/horarios-esteli-estelibuses-felix-icaza-card.webp`
          )/
          source(
            type="image/jpeg"
            data-srcset=`/img/terminal-${origin}/horarios-esteli-estelibuses-felix-icaza-card.jpg`
          )/
          img(
            alt=`Horarios de la ciudad de ${city}`
            class="h-auto object-cover object-center w-full aspect-video any-hover:scale-101 transform origin-center transition-transform lazyload"
            decoding="async"
            importance="low"
            loading="lazy"
            srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADZSURBVAXBPUvDQACA4fe+kl4uNiEW4+CmiJOjg4ub7g7+RkcXB1HQwX9gKYJQirS20oI0NZVoc+fziP5kFYwSBL8h0ooid6zqhvFszvRjyuPNNd+/Lfrp/pasm3Jxdkoca9pNy2LxxaD/wvPDHePhKzLpIkwUh+1yl8vzKxJn2CtbBsMJs8+KInHUlefgaB+d90ryLGM+e0NZzbJySKnpFRmpEfjQMHofoU+OD0ndFs6lGGPQSmI7EVoKvPfsWMuyqtG2Y0FIfAgIqUAqfpo/RPCs1zVSCoSAf7nFTe15qU/xAAAAAElFTkSuQmCC"
            data-srcset=`/img/terminal-${origin}/horarios-esteli-estelibuses-felix-icaza-card.jpg`
          )/
        else
          source(
            type="image/avif"
            data-srcset=`/img/terminal-${origin}/horarios-esteli-${convertCityName}-estelibuses-felix-icaza-card.avif`
          )/
          source(
            type="image/webp"
            data-srcset=`/img/terminal-${origin}/horarios-esteli-${convertCityName}-estelibuses-felix-icaza-card.webp`
          )/
          source(
            type="image/jpeg"
            data-srcset=`/img/terminal-${origin}/horarios-esteli-${convertCityName}-estelibuses-felix-icaza-card.jpg`
          )/
          img(
            alt=`Horarios de la ciudad de ${city}`
            class="h-auto object-cover object-center w-full aspect-video any-hover:scale-101 transform origin-center transition-transform lazyload"
            decoding="async"
            importance="low"
            loading="lazy"
            srcset=lqip
            data-srcset=`/img/terminal-${origin}/horarios-esteli-${convertCityName}-estelibuses-felix-icaza-card.jpg`
          )/
    section(class="p-5 flex flex-col justify-between gap-7 flex-1")
      article(class="text-center")
        h3(class="mb-2.5 text-2xl font-bold")
          a(
            class="city-name any-hover:text-orange-400 active:text-orange-400 transition-colors"
            href=`/terminal-${origin}-esteli/horarios-esteli-${convertCityName}`
          )= city
        p Conoce todos los horarios de los buses que viajan&nbsp;
          span(class="underline font-semibold") desde Estelí hacia #{ city }
          | .
      a(
        class="rounded font-semibold py-2.5 transition-colors text-center bg-yellow-200 text-orange-800 any-hover:bg-yellow-300 active:bg-yellow-300 focus:outline-none"
        href=`/terminal-${origin}-esteli/horarios-esteli-${convertCityName}`
      ) Mira los horarios
