mixin cardCity(city, isNorth)
  - const convertCityName = city.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "").replace(/\s/g, "-")

  section(
    class="relative text-center p-6 rounded shadow-md overflow-hidden space-y-6 h-max-content w-full sm:max-w-full sm:w-md sm:h-65 flex flex-col justify-center items-center bg-after ${convertCityName} lazy-bg card-city"
  )
    h3(class="text-2xl z-2 text-white font-semibold city-name")= city
    p(class="text-base text-white z-2 sm:px-4") Conoce todos los horarios de los buses que viajan&nbsp;
      span(class="underline") desde Estelí hacia #{ city }
      | .
    if isNorth
      a(
        class="rounded font-semibold space-x-2.5 py-2.5 px-5 transition-colors duration-300 inline-flex items-center focus:outline-none focus:ring-4 focus:ring-yellow-400 focus:ring-opacity-75 bg-yellow-200 text-orange-800 any-hover:bg-yellow-300 active:bg-yellow-300 z-2"
        href=`/terminal-norte-esteli/horarios-esteli-${convertCityName}`
      ) Mira los horarios
    else
      a(
        class="rounded font-semibold space-x-2.5 py-2.5 px-5 transition-colors duration-300 inline-flex items-center focus:outline-none focus:ring-4 focus:ring-yellow-400 focus:ring-opacity-75 bg-yellow-200 text-orange-800 any-hover:bg-yellow-300 active:bg-yellow-300 z-2"
        href=`/terminal-sur-esteli/horarios-esteli-${convertCityName}`
      ) Mira los horarios
