mixin pageTerminal(idHeader, title, description, location, phone, origin, ...cities)
  - let convertCityName = cities.map(city => city.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "").replace(/\s/g, "-"))

  header(class="relative" id=idHeader)
    div(class="container mx-auto px-4")
      include ../components/navbar

      section(
        class="flex flex-col justify-center items-center pt-18 pb-18 md:pb-26 lg:pt-28 lg:pb-34 xl:pb-56 text-center"
      )
        //- prettier-ignore
        h1(class=`${idHeader === 'terminal-norte' ? 'text-hex-0D3B12 dark:text-emerald-50' : 'text-hex-3B3B0D dark:text-yellow-50'} text-4xl sm:text-5xl font-bold mb-8 max-w-4xl`)= title
        p(class="text-base sm:text-lg max-w-2xl lg:max-w-4xl")= description

        section(
          class="flex flex-col md:flex-row md:items-start gap-8 justify-center mt-6 text-left max-w-xs sm:max-w-md md:max-w-xl mx-auto"
        )
          section(class="flex gap-2 group md:basis-3/5 items-start")
            div(class="mt-0.8")
              //- prettier-ignore
              svg(class=`${idHeader === 'terminal-norte' ? 'text-emerald-500 group-active:text-emerald-600 group-any-hover:text-emerald-600' : 'text-yellow-500 group-active:text-yellow-600 group-any-hover:text-yellow-600'} transition-colors fill-current` viewBox="0 0 24 24" width="24" height="24")
                path(
                  d="M12 11.5A2.5 2.5 0 0 1 9.5 9 2.5 2.5 0 0 1 12 6.5 2.5 2.5 0 0 1 14.5 9a2.5 2.5 0 0 1-2.5 2.5M12 2a7 7 0 0 0-7 7c0 5.3 7 13 7 13s7-7.8 7-13a7 7 0 0 0-7-7Z"
                )/
            //- prettier-ignore
            a(
              class=`${idHeader === 'terminal-norte' ? 'text-emerald-500 group-active:text-emerald-600 group-any-hover:text-emerald-600' : 'text-yellow-500 group-active:text-yellow-600 group-any-hover:text-yellow-600'} transition-colors font-semibold`
              href=`/${idHeader}-esteli#mapa`
            )= location

          section(class="flex group items-center gap-2 md:basis-2/5")
            //- prettier-ignore
            svg(class=`${idHeader === 'terminal-norte' ? 'text-emerald-500 group-active:text-emerald-600 group-any-hover:text-emerald-600' : 'text-yellow-500 group-active:text-yellow-600 group-any-hover:text-yellow-600'} transition-colors fill-current` viewBox="0 0 24 24" width="24" height="24")
              path(
                d="M6.6 10.8c1.5 2.8 3.8 5.1 6.6 6.6l2.2-2.2a1 1 0 0 1 1-.3c1.2.4 2.4.6 3.6.6a1 1 0 0 1 1 1V20a1 1 0 0 1-1 1A17 17 0 0 1 3 4a1 1 0 0 1 1-1h3.5a1 1 0 0 1 1 1c0 1.3.2 2.5.6 3.6 0 .3 0 .7-.3 1l-2.2 2.2Z"
              )/
            //- prettier-ignore
            a(
              class=`${idHeader === 'terminal-norte' ? 'text-emerald-500 group-active:text-emerald-600 group-any-hover:text-emerald-600' : 'text-yellow-500 group-active:text-yellow-600 group-any-hover:text-yellow-600'} transition-colors font-semibold`
              href=`tel:+505 ${idHeader === 'terminal-norte' ? '2713-2529' : phone}`
            )= phone

    div(class="wave")

  main(class="py-12 sm:py-16 md:py-20 xl:py-28")
    div(class="container mx-auto px-4")
      ins(
        class="adsbygoogle"
        style="display: block"
        data-ad-client="ca-pub-4534198821642047"
        data-ad-format="auto"
        data-ad-slot="2659594376"
        data-full-width-responsive="true"
      )
      script.
        (adsbygoogle = window.adsbygoogle || []).push({});

      article(class="text-center my-16 md:my-20 xl:my-28")
        form#search-form(
          autocomplete="on"
          class="w-full max-w-xl mx-auto transition-colors space-y-4"
        )
          label(class="text-2xl block" for="search") ¿A dónde vas a viajar?
          section(
            class="grid grid-cols-[1fr,100px] shadow-lg shadow-orange-500/10 any-hover:shadow-orange-600/10"
          )
            input#search(
              type="search"
              placeholder="Busca tu ciudad..."
              class="border border-orange-400 bg-light-100 py-2.5 px-4 w-full block outline-none focus:ring-4 focus:ring-orange-400 focus:ring-opacity-50 focus:border-orange-500 rounded rounded-r-none caret-orange-500 placeholder-orange-900 placeholder-opacity-40 bg-white dark:bg-hex-292018 dark:placeholder-orange-100 transition-colors"
            )/
            button#search-button(
              type="button"
              class="rounded rounded-l-none font-semibold py-2.5 px-5 transition-colors any-hover:bg-orange-500 bg-orange-400 text-white basis-30 inline-flex justify-center items-center active:outline-none active:ring-4 active:ring-orange-400 active:ring-opacity-75"
            )
              svg(
                aria-hidden="true"
                class="w-4"
                focusable="false"
                role="img"
                viewBox="0 0 512 512"
              )
                path(
                  d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
                  fill="currentColor"
                )/

      article(class="flex flex-wrap justify-center gap-20 lg:gap-16")
        if block
          block
        section#no-city(class="hidden space-y-4")
          p(class="text-2xl text-cool-gray-400 text-center") Por favor intenta otra búsqueda, lo que estás buscando no está disponible.
          p(class="text-center font-semibold") Ciudades disponibles:
          nav
            ul(class="space-y-4 text-center")
              each city, index in cities
                li
                  a(
                    class="text-orange-500 any-hover:underline active:underline"
                    href=`/terminal-${origin}-esteli/horarios-esteli-${convertCityName[index] === 'tisey---la-estanzuela' ? 'tisey-la-estanzuela' : convertCityName[index]}`
                  )= city

  if origin === 'sur'
    include others
