extends ../../../templates/template.pug
include ../../../utils/pageBlog

block append variables
  - const CURRENT_PAGE = ""
  - const URL = "https://estelibuses.web.app"
  - const ASSETS_PATH = "../../"
  - const HAS_CRITICAL_CSS = false
  - const APPLICATION_NAME = "Estelí Buses"
  - const META_DESCRIPTION = "Ahora puedes acceder a Estelí Buses sin conexión a internet, es una de las funcionalades más importantes y ya puedes empezar a disfrutarla."
  - const META_ROBOTS = "index, follow"
  - const LANGUAGE = "es"
  - const CURRENT_URL = `${URL}/blog/ahora-puedes-acceder-a-esteli-buses-sin-conexion-a-internet`
  - const SOCIAL_TITLE = "Ahora puedes acceder a Estelí Buses sin conexión a internet | Estelí Buses"
  - const SOCIAL_DESCRIPTION = META_DESCRIPTION
  - const SOCIAL_IMAGE = ""
  - const SOCIAL_IMAGE_ALT = SOCIAL_TITLE
  - const OPEN_GRAPH_SITE_NAME = ""
  - const TWITTER_CARD = "summary_large_image"

block append title
  title= SOCIAL_TITLE

block append preconnect

block append async-scripts

block append critical-css

block append stylesheets
  link(href=`${ASSETS_PATH}css/style.css` rel="stylesheet")/

block append preload
  link(
    type="image/webp"
    as="image"
    href="/img/esteli-buses-logo-black-felix-icaza.webp"
    importance="highest"
    rel="preload"
  )/
  link(
    type="image/webp"
    as="image"
    href="/img/esteli-buses-logo-white-felix-icaza.webp"
    importance="highest"
    rel="preload"
  )/

block append defer-scripts

block append content
  +pageBlog
    h1(class="text-4xl sm:text-5xl font-bold mb-8 max-w-screen-lg") Ahora puedes acceder a Estelí Buses sin conexión a internet
    p(class="text-sm text-gray-500 dark:text-gray-300") 14 Marzo, 2022

    p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Debido a que no muchas personas pueden contar con acceso constante a internet, es por eso que decidí implementar esta funcionalidad que seguramente te será muy útil en los casos que desees consultar los horarios y no tengas conexión.

    h2(class="text-3xl sm:text-4xl font-bold !mt-14") ¿Qué tengo que hacer para aprovechar esta funcionalidad?

    p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Para empezar a aprovechar esta funcionalidad no tienes que hacer absolutamente nada, con tan sólo ingresar a la aplicación web, ésta se encargará de descargar todos los datos necesarios para que estén disponible para ti incluso si llegas a perder acceso a internet.

    h2(class="text-3xl sm:text-4xl font-bold !mt-14") ¿Cuánto pesan estos datos?

    p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Si eres alguien que te preocupa el almacenamiento de tu dispositivo o si usas planes de datos móviles, te tengo buenas noticias. El peso total de todos los datos más importantes como los horarios de cada ciudad de destino, no sobrepasan los 11 MB, por lo que no tendrás un alto consumo de almacenamiento o de datos en tu dispositivo.

    p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Por lo tanto, después de que todos los datos sean almacenados en tu dispositivo, estos no se volverán a descargar al menos que la información sea actualizada, pero como ya sabes no tendrás que descargar mucha información por lo que su consumo aún será muy bajo.

    h2(class="text-3xl sm:text-4xl font-bold !mt-14") ¿Qué datos son almacenados?

    p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Como podrás intuir, puedes navegar sin internet en todas la páginas destinada a cada ciudad con sus horarios, ya que obviamente es la información más importante.

    p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Otras páginas como la información de este proyecto, la guía de contribución o las novedades, no son almacenadas en caché explicítamente, pero estas pueden ser almacenadas dinámicamente. Por lo que si estas páginas no llegan a ser almacenadas en tu dispositivo, verás una página personalizada indicándote que no tienes acceso a internet para visualizar esa página en consecuencia, similar a esta:

    img(src="/img/blog/pagina-offline.png" class="object-cover object-center shadow")/

    h2(class="text-3xl sm:text-4xl font-bold !mt-14") Precauciones

    p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Sin entrar en detalles técnicos de cómo funciona la navegación offline de esta aplicación web, en resumen, todos los datos se descargan en memoria caché, por lo que si borras todos los datos de tu navegador los datos de Estelí Buses también serán eliminados.

    p(class="text-base text-black-200 sm:text-lg dark:text-light-700") Entonces si tienes la necesidad de borrar los datos de tu navegador, te recomiendo que lo hagas solo cuándo tengas acceso a internet para que puedas descargar nuevamente los datos de Estelí Buses. Ya que de otra forma no tendrás acceso en absoluto a esta aplicación web.
