extends ../../../templates/template.pug
include ../../../utils/pageCity
include ../../../utils/cardTransportInfo
include ../../../utils/cardTransportInfoExtended
include ../../../utils/cardCity

block append variables
  - const CURRENT_PAGE = "terminal-sur"
  - const URL = "https://estelibuses.web.app"
  - const ASSETS_PATH = "../../"
  - const HAS_CRITICAL_CSS = false
  - const APPLICATION_NAME = "Estelí Buses"
  - const META_DESCRIPTION = "Conoce Todos los Horarios de los Buses EXPRESOS y RUTEADOS que salen desde Estelí hacia Managua desde la Terminal Sur."
  - const META_ROBOTS = "index, follow"
  - const LANGUAGE = "es"
  - const CURRENT_URL = `${URL}/terminal-sur-esteli/horarios-esteli-managua`
  - const SOCIAL_TITLE = "Horarios de los Buses de Estelí hacia Managua - Terminal Sur | Estelí Buses"
  - const SOCIAL_DESCRIPTION = META_DESCRIPTION
  - const SOCIAL_IMAGE = "/img/og/horarios-esteli-managua-cotran-sur-estelibuses.jpg"
  - const SOCIAL_IMAGE_ALT = SOCIAL_TITLE
  - const OPEN_GRAPH_SITE_NAME = APPLICATION_NAME
  - const TWITTER_CARD = "summary_large_image"

block append title
  title= SOCIAL_TITLE

block append preconnect
  link(crossorigin href="//www.google.com/" rel="preconnect")/
  link(crossorigin href="//maps.googleapis.com/" rel="preconnect")/
  link(crossorigin href="//maps.gstatic.com/" rel="preconnect")/

block append async-scripts

block append critical-css

block append stylesheets
  link(href=`${ASSETS_PATH}css/style.css` rel="stylesheet")/

block append preload

block append defer-scripts
  script(
    type="module"
    src=`${ASSETS_PATH}js/filter.js`
    fetchpriority="high"
    importance="high"
  )

block append seo
  script(type="application/ld+json").
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
        { "@type": "Question", "inLanguage": "es", "name": "¿Cuál es la hora del primer bus Expreso hacia Managua?", "acceptedAnswer": { "@type": "Answer", "text": "El primer bus expreso hacia Managua desde la terminal sur sale a las 04:45 am. <a href='https://estelibuses.web.app/terminal-sur-esteli/horarios-esteli-managua?utm_source=google&utm_content=faq&utm_medium=organic&utm_campaign=faqgoogle'>Mira más horarios.</a>" } },
        { "@type": "Question", "inLanguage": "es", "name": "¿Cuánto cuesta el pasaje hacia Managua?", "acceptedAnswer": { "@type": "Answer", "text": "Para viajar a Managua los buses expresos cuestan C$ 110 córdobas y los buses ruteados cuestan C$ 90 córdobas. <a href='https://estelibuses.web.app/terminal-sur-esteli/horarios-esteli-managua?utm_source=google&utm_content=faq&utm_medium=organic&utm_campaign=faqgoogle'>Obtén más información.</a>" } },
        { "@type": "Question", "inLanguage": "es", "name": "¿Cuál es la manera más barata de llegar de Estelí a Managua?", "acceptedAnswer": { "@type": "Answer", "text": "La forma más barata de ir desde Estelí hacia Managua es abordando un bus ruteado que salen desde la terminal sur y el pasaje vale C$ 90 córdobas. <a href='https://estelibuses.web.app/terminal-sur-esteli/horarios-esteli-managua?utm_source=google&utm_content=faq&utm_medium=organic&utm_campaign=faqgoogle'>Obtén más información</a>" } },
        { "@type": "Question", "inLanguage": "es", "name": "¿Cuál es la manera más rápida de llegar desde Estelí hasta Managua?", "acceptedAnswer": { "@type": "Answer", "text": "La forma más rápida de ir desde Estelí hacia Managua es abordando un bus expreso, estos salen desde la terminal sur y el viaje dura apróximadamente 2.4 horas. <a href='https://estelibuses.web.app/terminal-sur-esteli/horarios-esteli-managua?utm_source=google&utm_content=faq&utm_medium=organic&utm_campaign=faqgoogle'>Obtén más información</a>" } },
        { "@type": "Question", "inLanguage": "es", "name": "¿Hay un bus directo de Estelí a Managua?", "acceptedAnswer": { "@type": "Answer", "text": "Sí, los buses directos que salen desde Estelí y llegan a Managua, son los buses expresos, estos salen desde la terminal sur y dura 2.4 horas el viaje. <a href='https://estelibuses.web.app/terminal-sur-esteli/horarios-esteli-managua?utm_source=google&utm_content=faq&utm_medium=organic&utm_campaign=faqgoogle'>Obtén más información</a>" } },
        { "@type": "Question", "inLanguage": "es", "name": "¿A cuánta distancia está Estelí de Managua?", "acceptedAnswer": { "@type": "Answer", "text": "La distancia por carretera es de 141 Km. <a href='https://estelibuses.web.app/terminal-sur-esteli/horarios-esteli-managua?utm_source=google&utm_content=faq&utm_medium=organic&utm_campaign=faqgoogle'>Obtén indicaciones para viajar</a>" } },
        { "@type": "Question", "inLanguage": "es", "name": "¿Cómo viajo desde Estelí a Managua sin un coche?", "acceptedAnswer": { "@type": "Answer", "text": "La mejor manera de ir desde Estelí a Managua sin un coche es abordando los buses que salen desde la terminal sur. <a href='https://estelibuses.web.app/terminal-sur-esteli/horarios-esteli-managua?utm_source=google&utm_content=faq&utm_medium=organic&utm_campaign=faqgoogle'>Mira los Horarios</a>" } },
        { "@type": "Question", "inLanguage": "es", "name": "¿Cuánto se tarda en llegar desde Estelí a Managua?", "acceptedAnswer": { "@type": "Answer", "text": "Los buses expresos desde Estelí hacia Managua duran 2.4 horas de viaje y los buses ruteados duran 3 horas de viaje apróximadamente. <a href='https://estelibuses.web.app/terminal-sur-esteli/horarios-esteli-managua?utm_source=google&utm_content=faq&utm_medium=organic&utm_campaign=faqgoogle'>Obtén más información</a>" } },
        { "@type": "Question", "inLanguage": "es", "name": "¿Dónde tomo el bus de Estelí a Managua?", "acceptedAnswer": { "@type": "Answer", "text": "Los buses que salen desde Estelí hacia Managua, se pueden abordar desde la terminal sur o cotrán sur. <a href='https://estelibuses.web.app/terminal-sur-esteli/horarios-esteli-managua?utm_source=google&utm_content=faq&utm_medium=organic&utm_campaign=faqgoogle'>Conoce los horarios</a>" } },
        { "@type": "Question", "inLanguage": "es", "name": "¿A dónde llega el autobús de Estelí a Managua?", "acceptedAnswer": { "@type": "Answer", "text": "Los buses que viajan desde Estelí hacia Managua llegan a la terminal del Mercado El Mayoreo de Managua. <a href='https://estelibuses.web.app/terminal-sur-esteli/horarios-esteli-managua?utm_source=google&utm_content=faq&utm_medium=organic&utm_campaign=faqgoogle'>Obtén más información</a>" } }
      ]
    }

block append content
  - const ruteadoPrice = "90"
  - const expresoPrice = "110"

  mixin paradas
    - const destinos = ["El Naranjo", "Santa Cruz", "Empalme San Nicolás", "La Concepción", "La Trinidad", "San Isidro", "Sébaco", "El Jobo", "Ciudad Darío", "Calabazas", "Puertas Viejas", "La Curva", "El Madroño", "Las Maderas", "San Benito", "Tipitapa", "Managua"]
    - const destinosPrecios = ["C$ 13", "C$ 15", "C$ 15", "C$ 20", "C$ 22", "C$ 30", "C$ 40", "C$ 45", "C$ 45", "C$ 50", "C$ 55", "C$ 55", "C$ 55", "C$ 75", "C$ 80", "C$ 85", "C$ 90"]

    details(class="text-orange-500 dark:text-orange-400")
      summary(
        class="cursor-pointer any-hover:bg-orange-100 dark:any-hover:bg-hex-493A2F px-3 py-2 rounded transition transition-colors"
      ) Conoce las principales paradas
      section(class="border border-orange-100 dark:border-hex-493A2F rounded-b p-2")
        table(class="w-full")
          thead
            tr
              th(class="text-left px-2 py-1") Destino
              th(class="text-left px-2 py-1") Pasaje
          tbody
            each destino, index in destinos
              //- prettier-ignore
              tr(class=`${index % 2 === 0 ? 'bg-orange-50 dark:bg-hex-493A2F' : ''}`)
                td(class="px-2 py-1")= destino
                td(class="px-2 py-1")= destinosPrecios[index]

  //- Último valor true es para añadir el filtro para los buses ruteados y expresos
  //- NO añadir en otras páginas que no lo necesiten
  +pageCity('Managua', 'Terminal sur', 'Terminal del mercado El Mayoreo', '141 km', 'https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d498388.78471134027!2d-86.47613190174431!3d12.604488553983789!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x8f718c13825dde4b%3A0x69c6340e0429bb84!2sCotran%20Sur%2C%20Estel%C3%AD!3m2!1d13.0762386!2d-86.3524291!4m5!1s0x8f73fe9fb4b9ad8d%3A0xd5de57613e46dc8e!2sTerminal%20de%20Buses%20El%20Mayoreo%2C%20Pista%20del%20Mayoreo%2C%20Managua!3m2!1d12.133970699999999!2d-86.19335919999999!5e0!3m2!1ses-419!2sni!4v1645555468808!5m2!1ses-419!2sni')
    section(class="space-y-3 mt-6 lg:mt-0 -mb-8")
      p(class="font-semibold") Elige el tipo de transporte:
        form#filter(class="flex gap-6")
          section(class="group flex items-center")
            input#all(
              name="bus"
              type="radio"
              checked
              class="accent-orange-600 cursor-pointer sibling:checked:text-orange-600"
            )/
            label(
              class="group-any-hover:text-orange-600 transition-colors cursor-pointer"
              for="all"
            ) &nbsp;Todos
          section(class="group flex items-center")
            input#express(
              name="bus"
              type="radio"
              class="accent-orange-600 cursor-pointer sibling:checked:text-orange-600"
            )/
            label(
              class="group-any-hover:text-orange-600 transition-colors cursor-pointer"
              for="express"
            ) &nbsp;Expresos
          section(class="group flex items-center")
            input#routed(
              name="bus"
              type="radio"
              class="accent-orange-600 cursor-pointer sibling:checked:text-orange-600"
            )/
            label(
              class="group-any-hover:text-orange-600 transition-colors cursor-pointer"
              for="routed"
            ) &nbsp;Ruteados

    +cardTransportInfo('Horario #1', '03:30 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfo('Horario #2', '04:00 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfo('Horario #3', '04:30 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfo('Horario #4', '04:45 am', 'Expreso', expresoPrice, '2.4 horas', false, false, false)

    +cardTransportInfo('Horario #5', '05:00 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfo('Horario #6', '05:30 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfo('Horario #7', '05:45 am', 'Expreso', expresoPrice, '2.4 horas', false, false, false)

    +cardTransportInfo('Horario #8', '06:00 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfo('Horario #9', '06:30 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfo('Horario #10', '06:45 am', 'Expreso', expresoPrice, '2.4 horas', false, false, false)

    +cardTransportInfo('Horario #11', '07:00 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfo('Horario #12', '07:15 am', 'Expreso', expresoPrice, '2.4 horas', false, false, false)

    +cardTransportInfo('Horario #13', '07:30 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfoExtended('Horario #14', 'Hora de salida de Estelí', '08:00 am', 'Hora de salida de Managua', '03:00 pm', 'Ruteado', 'Moreno', 'ES 268', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfo('Horario #15', '08:30 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfoExtended('Horario #16', 'Hora de salida de Estelí', '08:45 am', 'Hora de salida de Managua', '01:40 pm', 'Expreso', 'Moreno', 'ES 228', expresoPrice, '2.4 horas', false, false, false)

    +cardTransportInfo('Horario #17', '09:00 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfo('Horario #18', '09:30 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfo('Horario #19', '09:45 am', 'Expreso', expresoPrice, '2.4 horas', false, false, false)

    +cardTransportInfo('Horario #20', '10:00 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfo('Horario #21', '10:30 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfo('Horario #22', '11:00 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfo('Horario #23', '11:30 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfo('Horario #24', '12:00 pm', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfo('Horario #25', '12:15 pm', 'Expreso', expresoPrice, '2.4 horas', false, false, false)

    +cardTransportInfo('Horario #26', '12:30 pm', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfo('Horario #27', '01:00 pm', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfo('Horario #28', '01:15 pm', 'Expreso', expresoPrice, '2.4 horas', false, false, false)

    +cardTransportInfo('Horario #29', '01:30 pm', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfo('Horario #30', '02:00 pm', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfo('Horario #31', '02:15 pm', 'Expreso', expresoPrice, '2.4 horas', false, false, false)

    +cardTransportInfo('Horario #32', '02:30 pm', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfo('Horario #33', '03:00 pm', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfo('Horario #34', '03:15 pm', 'Expreso', expresoPrice, '2.4 horas', false, false, false)

    +cardTransportInfo('Horario #35', '03:30 pm', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfo('Horario #36', '04:00 pm', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfo('Horario #37', '04:30 pm', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfo('Horario #38', '05:00 pm', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    +cardTransportInfo('Horario #39', '06:00 pm', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
      +paradas

    script.
      const expressBuses = document.querySelectorAll(".expreso");
      const routedBuses = document.querySelectorAll(".ruteado");
      const transportTitles = document.querySelectorAll(".titles");
      const expressTitles = document.querySelectorAll(".expreso > .titles");
      const routedTitles = document.querySelectorAll(".ruteado > .titles");

      if (localStorage.getItem("managua_transport_type") === "all") {
        document.getElementById("all").setAttribute("checked", "true");
        transportTitles.forEach((title, index) => (title.textContent = `Horario #${index + 1}`));
        expressBuses.forEach(express => express.classList.remove("hidden"));
        routedBuses.forEach(routed => routed.classList.remove("hidden"));
      }

      if (localStorage.getItem("managua_transport_type") === "express") {
        document.getElementById("express").setAttribute("checked", "true");
        for (let i = 0; i < expressTitles.length; i++) {
          expressTitles[i].textContent = `Horario Expreso #${i + 1}`;
        }

        expressBuses.forEach(express => express.classList.remove("hidden"));
        routedBuses.forEach(routed => routed.classList.add("hidden"));
      }

      if (localStorage.getItem("managua_transport_type") === "routed") {
        document.getElementById("routed").setAttribute("checked", "true");
        for (let i = 0; i < routedTitles.length; i++) {
          routedTitles[i].textContent = `Horario Ruteado #${i + 1}`;
        }

        routedBuses.forEach(routed => routed.classList.remove("hidden"));
        expressBuses.forEach(express => express.classList.add("hidden"));
      }

  article(class="py-12 sm:py-16 md:py-20 xl:py-28 bg-hex-FFFDF9 dark:bg-hex-2D231B")
    div(class="container mx-auto px-4 space-y-12 lg:space-y-16")
      h3(
        class="text-3xl sm:text-4xl font-bold text-center text-hex-3b0d15 dark:text-orange-50"
      ) ¿Buscas conocer otros horarios?
      section
        h4(
          class="text-xl sm:text-2xl font-bold text-center mb-10 lg:mb-16 text-hex-3b0d15 dark:text-orange-50"
        ) Horarios más populares de la Terminal Sur
        article(
          class="flex flex-col gap-y-14 items-center lg:grid lg:grid-cols-2 xl:grid-cols-3 lg:gap-22"
        )
          +cardCity('Matagalpa', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADQSURBVAXB21KCQACA4R9YKBaUlE4Yjc7Y4TV7id6il+gNumzGu2Q0R0NdGGU5LH2f9f7x2ffYSBemtxFS+pQqZ1P02EZTqTVfixXiUkA08PG6ErVf41kxwpxJQpemblCt5HU2wc5Wv2yKFse2GEoPT4AvA+5vRjymE67HVzi0iHyb8TyfciF6PFdwPpVoXVOUisNREYQRWmucqty93cURL09zjOnId3/k+yNpmvIwSRiPYlrTI7rqxCFbsPwOGIYh2+UPBpsmGaAKQdPU1ErxD8RhXNMpHuGqAAAAAElFTkSuQmCC')

          +cardCity('León', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADWSURBVAXBzVKCUACA0e8CJmg4mApZMSrTj8207kF6m3Y9TS/juGhbTi1cSF7JQQuBe8HOEU/Pr8fpqIfSGrnL4aj5UzAauERdwVf8ywEbK2hr6tWcIBiiqow2ezLRxM5d3ucfIAy60SNWOHAw9zZeo8DpG8h1wa3fYSFTzv0eCIF5UmPlOwl5idYapRRlqcgOJZ5Z0mi6JD9bTjsaIzxzGF8NSeIVD/dT3mYzbq4jlp8LxuEFQd/DtyvMu8nlSyJjtCqQmzWtlk2abrGo2SSSShV8x0v+AfDfXVGAYAnGAAAAAElFTkSuQmCC')

          +cardCity('La Trinidad', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADoSURBVAXB30rCUADA4d85m5abs00XKQsq6CJml1H0LEH0KD5DD9FN9AJdB1FEF0ImaZaaomDNP5WbubO+T1xdPybFdZvRWx2ZsfDLPum0zvQ7JIpCTDPLIhZoJXetkrMdvtotpJJs7fkshcaKlhBMZuTMDO/tBlrBiSv1xg1uqUi3+UT/Y8D93S2LREAc0eu8cnF5jm5kHT7VhIdYI4iHHFVfmKZ2UPMAxkOMZQ86ffTnWgtlpTg49hiLJspYpWBvkHddpKEzH8zY9gT62ckptVFI9SfgV20SWB77+RApANPG2j3E+Av5B/2XWtOuL5SIAAAAAElFTkSuQmCC')

          +cardCity('San Nicolás', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAAD2SURBVAXBu0rDYACA0S/kDw69kBCqtqTGilKoYMVNRMVJENwEVydBxHfwKVwcxUnwgmuH4lY7OMSIuMTGViGaBlpprebiOZI4vE+StEo2DtFeauxsrzPz2+ItzmHJJn7XZ38tjzDzKoWMQnHksuKc0HoV6M9nDJaPGKbm2DKe6P1MIA6m2yh6CTVd5sFZJJYCTj98NjXBblkiGiyhiBDRaV6SjT08Mc5dW2c1eGTenOWzeYtVv0KOQzSjimwrC8delGXDbpBxLaphSL/TpfIXERglbhyJmhsjLvam+BqNcX1uY1YmafT6DKOEVE7nO5IpJAFF3vkHnNFeeDtzHrAAAAAASUVORK5CYII=')

          +cardCity('Tisey - La Estanzuela', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADXSURBVAXBv07CQADA4d9d25RisS1agolxYCDRgTCoz+DqG+ibOPt6DiY6OBkoCtc/lGstvfP7xOJ6Zl0sTdvQ6pa75ZzZ8p7b51eSQPCRG4aewLmaTl6+V2vOxhESiTGWKluR9z6Lmzlxl/H5/oZ4enywujtSFgWb7Y74NMSRECQxcuDQdC2qWePqes8oGSOs4VcVCMcjPY/pTY/qvvjTlmJT41bqB0dadmWNkJLLacpJMCCvtuQqYF9m9K3AHUURSncIx+MiHXI4aELfw+Dja8lRhMQTyz+4tl0rJVSFpQAAAABJRU5ErkJggg==')

          +cardCity('Achuapa', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADnSURBVAXBwUrCYADA8f/mt4xJTd3mbOVBLKFWHoogzBeI6gV6km49QpfuPUpXBYkOEXSMWqJOEm1Ot7av309p3VzKnFPDPr9FZpClK+Kne8LxF871HcqwhybniIYx5CdJyL88EAxG6KVtis4+teML0viVaPhM2XYR6XTAbOqzKryTRDpq9InlHuL3HtHljN9A4soKqlVYQ1lm6Krkaq9Np95AG3UJ3r7JKZL1fMwinCAEEm/LZOegjWeXMZqn9Lub0DojRGJtgPbRR5xUm5jmEVWrglUyyMY+7m4dKSR/ywXJfELR6/APdbRXDs70WfgAAAAASUVORK5CYII=')

        section(class="text-center mt-20")
          a(
            class="rounded font-semibold space-x-2.5 py-2.5 px-5 transition-colors inline-flex items-center any-hover:bg-orange-500 active:outline-none active:ring-4 active:ring-orange-400 active:ring-opacity-75 bg-orange-400 text-white shadow-lg shadow-orange-500/30 any-hover:shadow-orange-600/30 active:shadow-orange-600/30"
            href="/terminal-sur-esteli"
          )
            span Mira todos los destinos
            span
              svg(class="fill-current" width="26" height="26")
                path(d="M16 11H4v2h12v3l4-4-4-4z")/

      section(class="!mt-24")
        h4(
          class="text-xl sm:text-2xl font-bold text-center mb-10 lg:mb-16 text-hex-3b0d15 dark:text-orange-50"
        ) Horarios más populares de la Terminal Norte
        article(
          class="flex flex-col gap-y-14 items-center lg:grid lg:grid-cols-2 xl:grid-cols-3 lg:gap-22"
        )
          +cardCity('Managua', 'norte', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADNSURBVAXBS06DUBiA0e+HC7TAoKnVVkdNTFyGC3UJjlyCAx01OjAaY2IZ1JqGaEAriBfuw3Pk8ubVZ7GgjSeNhCiEjx/DV2cZh5AoIVaCavoBbUNEoGwsn7+GtneEQKYgCeFvcKjr54JpnhMFCvCICIEzeIHg5Zbv03O0ExT1BW0dgU8Z2jHzScw8maBHCTbo6TZXFOUOdeQ8q2JNlhv2usey5L565/gkp9F7FtkZh1NQD29blosDNts1VdWR8shsZinrmgjDbljxdDfiHzXGWeYErh0SAAAAAElFTkSuQmCC')

          +cardCity('Jinotega', 'norte', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADNSURBVBXBPUvDQACA4fe+rzW1taJoUBCXjs7SybWLf9fN4l/QQVTQoVYIJdhwiW3N5cTnEXcvIU1OPf8eXhvK0HI+toQt7NoOpwT7fYM+G3vey47LQ8XNZI/PqkMLsFqwbiIyRbKeQc/n9xjXo85PyI9GFMUamVq+q5qDzPL8+MT1dIq4mt2miMU7S0IRoyBJi7EWJQVeRn7R6IvhAGcc4afGOMnia0USCm08UsEuFGySQi8/3hgMM/LjHOf6bG1J0omqXlEsF2yaFmUUfx9+TTarspExAAAAAElFTkSuQmCC')

          +cardCity('Somoto', 'norte', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADmSURBVAXBu07CUACA4b/llBZBgUCBYOJQ7SDxMpgoA25iHB31/XwEJwdXphodjMEL6iAmxjagUnqAnuP3GWfnW/oxf0hYPcWybKRpMplr4kTSzV5Ql31qwkb4rs80ukZGZeLSPrYQgEOnfEU9vMfOZFgyc4h07nCye0zwETAY9HCcAqrg0F5dIKouRpql5W0jtDKZjRd0/Q439ivB8wvtjTxHO3tIw6TRbKFTC5HIhLuHb5q1Cn6xAp7mYNMjiosYYoXP4Yi/8Q9i+BWSKsVlr4+bU9z+zpgKWFse8fb0znqjxERp/gGtW1S4/iR4jQAAAABJRU5ErkJggg==')

          +cardCity('Ocotal', 'norte', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADoSURBVAXBvU7CUACA0a+F0gttsQZ/B9TJweikicZXcPMhHHwOR1/GyZXEkCgSEqwhIqllMAYVSJQi5XJ76znG29c0e+kN+Hx/5XFwzPBHseQ7HK5HeEafo5NTRFGQv2v/0a7fsFZZgd8HNqdNzKzKWLu0woDdvQPqjQBzf2vGXEr6UQ8rbjCLJ1iLbz6ie4pOgVrtluurSwxv1c3Ozi8wM00Sj1BzSbnsY9s5lDbohgHPT03y1e0dkmQC2kQrSacTUBI2Vk4xGg8xChbCtsmrNCXstlALje84+J5AKY0ybdzKBjKVLIsS/66oZHYPNJRaAAAAAElFTkSuQmCC')

          +cardCity('San Juan de Limay', 'norte', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADgSURBVAXBu0rDUACA4T85J2kuhBgMrajgVAdHB3ehCE6OToLgK/hgPkBddPEF6lZQSgVj4yVpTk5Pksbvs27urvrLyYTs/YM0Tjg7vyZNU2zLwrQdtWnJqxq5/Jvx9PhGkRkiV/Iym3N6cUsYxdSmoa4URi2QiRVxnBzxa2mcQY9q5kwf7tkITeDUNLTEm33kWtR8/SyJ/AB/4DHaHRLojG+5ptr2CMvGUQa5txOQDg8QnU3+uWC1yukCFycSFHpL4vnoUiFPxodMn18ZBSGxG1MWisovGbchntOiG4FUkn+qf1rJP6L68AAAAABJRU5ErkJggg==')

          +cardCity('Pueblo Nuevo', 'norte', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADpSURBVAXBz0rCcADA8e/Wz003laVghhRJCfNSh7oIQnSs5+kVeoDepkOd8hRZBKXFbA4lM5cy0JXtj+vzkc4vL5JGfZ/T5gl/UcRV65qnbpf1rM7hXo3qrsnrm4WwRy0Sd8jCHRP4HpuVDabzDv0xTJwXjBsN2UgQ788DlK2EqB1QzGkUUgtSUYQew9QdEMo6GU9C1HIl0j6oeQlVWXHXeyQQDgflMlEc4oU+99YnIlNYoikCu99hllNpNs5ofwyZGyPktMz26oe6WUGUvC9mxW+Od3Qkxcd6uOWoapKd/OK4NvYyT7gW8w9M7l+OB2kEdwAAAABJRU5ErkJggg==')

        section(class="text-center mt-20")
          a(
            class="rounded font-semibold space-x-2.5 py-2.5 px-5 transition-colors inline-flex items-center any-hover:bg-orange-500 active:outline-none active:ring-4 active:ring-orange-400 active:ring-opacity-75 bg-orange-400 text-white shadow-lg shadow-orange-500/30 any-hover:shadow-orange-600/30 active:shadow-orange-600/30"
            href="/terminal-norte-esteli"
          )
            span Mira todos los destinos
            span
              svg(class="fill-current" width="26" height="26")
                path(d="M16 11H4v2h12v3l4-4-4-4z")/
