extends ../../../templates/template.pug
include ../../../utils/pageCity
include ../../../utils/cardTransportInfo
include ../../../utils/cardCity

block append variables
  - const CURRENT_PAGE = "terminal-sur"
  - const URL = "https://estelibuses.web.app"
  - const ASSETS_PATH = "../../"
  - const HAS_CRITICAL_CSS = false
  - const APPLICATION_NAME = "Esteli Buses"
  - const META_DESCRIPTION = "Conoce todos los horarios de los buses que salen desde Estelí hacia Managua."
  - const META_ROBOTS = "index, follow"
  - const LANGUAGE = "es"
  - const CURRENT_URL = URL
  - const SOCIAL_TITLE = "Horarios de los Buses de Estelí hacía Managua"
  - const SOCIAL_DESCRIPTION = META_DESCRIPTION
  - const SOCIAL_IMAGE = ""
  - const SOCIAL_IMAGE_ALT = SOCIAL_TITLE
  - const OPEN_GRAPH_SITE_NAME = ""
  - const TWITTER_CARD = "summary_large_image"

block append title
  title= SOCIAL_TITLE

block append preconnect
  link(crossorigin href="//www.google.com/" rel="preconnect")/
  link(crossorigin href="//maps.googleapis.com/" rel="preconnect")/
  link(crossorigin href="//maps.gstatic.com/" rel="preconnect")/

block append async-scripts

block append critical-css

block append stylesheets
  link(href=`${ASSETS_PATH}css/style.css` rel="stylesheet")/

block append preload

block append defer-scripts

block append content
  - const ruteadoPrice = "80"
  - const expresoPrice = "100"

  +pageCity('Managua', 'Terminal sur', 'Terminal del mercado El Mayoreo', 'https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d498388.78471134027!2d-86.47613190174431!3d12.604488553983789!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x8f718c13825dde4b%3A0x69c6340e0429bb84!2sCotran%20Sur%2C%20Estel%C3%AD!3m2!1d13.0762386!2d-86.3524291!4m5!1s0x8f73fe9fb4b9ad8d%3A0xd5de57613e46dc8e!2sTerminal%20de%20Buses%20El%20Mayoreo%2C%20Pista%20del%20Mayoreo%2C%20Managua!3m2!1d12.133970699999999!2d-86.19335919999999!5e0!3m2!1ses-419!2sni!4v1645555468808!5m2!1ses-419!2sni', true)
    +cardTransportInfo('Horario #1', '03:30 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #2', '04:00 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #3', '04:30 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #4', '04:45 am', 'Expreso', ruteadoPrice, '2.4 horas', false, false, false)
    +cardTransportInfo('Horario #5', '05:00 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #6', '05:30 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #7', '05:45 am', 'Expreso', ruteadoPrice, '2.4 horas', false, false, false)
    +cardTransportInfo('Horario #8', '06:00 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #9', '06:30 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #10', '06:45 am', 'Expreso', expresoPrice, '2.4 horas', false, false, false)
    +cardTransportInfo('Horario #11', '07:00 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #12', '07:15 am', 'Expreso', expresoPrice, '2.4 horas', false, false, fals)
    +cardTransportInfo('Horario #13', '07:30 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #14', '08:00 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #15', '08:30 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #16', '08:45 am', 'Expreso', expresoPrice, '2.4 horas', false, false, false)
    +cardTransportInfo('Horario #17', '09:00 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #18', '09:30 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #19', '09:45 am', 'Expreso', expresoPrice, '2.4 horas', false, false, false)
    +cardTransportInfo('Horario #20', '10:00 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #21', '10:30 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #22', '11:00 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #23', '11:30 am', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #24', '12:00 pm', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #25', '12:15 pm', 'Expreso', expresoPrice, '2.4 horas', false, false, false)
    +cardTransportInfo('Horario #26', '12:30 pm', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #27', '01:00 pm', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #28', '01:15 pm', 'Expreso', expresoPrice, '2.4 horas', false, false, false)
    +cardTransportInfo('Horario #29', '01:30 pm', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #30', '02:00 pm', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #31', '02:15 pm', 'Expreso', expresoPrice, '2.4 horas', false, false, false)
    +cardTransportInfo('Horario #32', '02:30 pm', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #33', '03:00 pm', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #34', '03:15 pm', 'Expreso', expresoPrice, '2.4 horas', false, false, false)
    +cardTransportInfo('Horario #35', '03:30 pm', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #36', '04:00 pm', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #37', '04:30 pm', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #38', '05:00 pm', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)
    +cardTransportInfo('Horario #39', '06:00 pm', 'Ruteado', ruteadoPrice, '3.3 horas', false, false, false)

  article(class="py-12 sm:py-16 md:py-20 xl:py-28")
    div(class="container mx-auto px-4 space-y-12 lg:space-y-16")
      h3(class="text-3xl sm:text-4xl font-bold text-center") ¿Buscas conocer otros horarios?
      section
        h4(class="text-xl sm:text-2xl font-bold text-center mb-10 lg:mb-16") Otros horarios de la Terminal Sur
        article(
          class="flex flex-col gap-y-14 items-center lg:grid lg:grid-cols-2 xl:grid-cols-3 lg:gap-22"
        )
          +cardCity('Matagalpa', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADQSURBVAXB21KCQACA4R9YKBaUlE4Yjc7Y4TV7id6il+gNumzGu2Q0R0NdGGU5LH2f9f7x2ffYSBemtxFS+pQqZ1P02EZTqTVfixXiUkA08PG6ErVf41kxwpxJQpemblCt5HU2wc5Wv2yKFse2GEoPT4AvA+5vRjymE67HVzi0iHyb8TyfciF6PFdwPpVoXVOUisNREYQRWmucqty93cURL09zjOnId3/k+yNpmvIwSRiPYlrTI7rqxCFbsPwOGIYh2+UPBpsmGaAKQdPU1ErxD8RhXNMpHuGqAAAAAElFTkSuQmCC')

          +cardCity('León', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADWSURBVAXBzVKCUACA0e8CJmg4mApZMSrTj8207kF6m3Y9TS/juGhbTi1cSF7JQQuBe8HOEU/Pr8fpqIfSGrnL4aj5UzAauERdwVf8ywEbK2hr6tWcIBiiqow2ezLRxM5d3ucfIAy60SNWOHAw9zZeo8DpG8h1wa3fYSFTzv0eCIF5UmPlOwl5idYapRRlqcgOJZ5Z0mi6JD9bTjsaIzxzGF8NSeIVD/dT3mYzbq4jlp8LxuEFQd/DtyvMu8nlSyJjtCqQmzWtlk2abrGo2SSSShV8x0v+AfDfXVGAYAnGAAAAAElFTkSuQmCC')

          +cardCity('La Trinidad', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADoSURBVAXB30rCUADA4d85m5abs00XKQsq6CJml1H0LEH0KD5DD9FN9AJdB1FEF0ImaZaaomDNP5WbubO+T1xdPybFdZvRWx2ZsfDLPum0zvQ7JIpCTDPLIhZoJXetkrMdvtotpJJs7fkshcaKlhBMZuTMDO/tBlrBiSv1xg1uqUi3+UT/Y8D93S2LREAc0eu8cnF5jm5kHT7VhIdYI4iHHFVfmKZ2UPMAxkOMZQ86ffTnWgtlpTg49hiLJspYpWBvkHddpKEzH8zY9gT62ckptVFI9SfgV20SWB77+RApANPG2j3E+Av5B/2XWtOuL5SIAAAAAElFTkSuQmCC')

          +cardCity('San Nicolás', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADfSURBVAXBS07CUABA0VtahIJNGzFUywDESCIMWEAnbIHtuA5nLsIFOHBOooHgzC/QKtBoA+YJ/T7PUa5HucwlxJmkYUiWArZ70AoKIFFQcMoSza15jF99Xj6+GE2f6PV7GIZJIuYs/TWr2ZxH8Yt2e3PF5MFjEYSYdYv78R1nbYdTu0gqQkpxwuV5Dc17XmM3dC7cLn/+DzLLsUoRUa4SCxNkkelkS6HdtHEHQxbvPtWyyl4GZOo34SrAsir0WzbdThMtsCAK3kg3MZVjnUN0krRKp+VwclRnd7Bj8znjH8ImX6wQg+7GAAAAAElFTkSuQmCC')

          +cardCity('Tisey - La Estanzuela', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADXSURBVAXBv07CQADA4d9d25RisS1agolxYCDRgTCoz+DqG+ibOPt6DiY6OBkoCtc/lGstvfP7xOJ6Zl0sTdvQ6pa75ZzZ8p7b51eSQPCRG4aewLmaTl6+V2vOxhESiTGWKluR9z6Lmzlxl/H5/oZ4enywujtSFgWb7Y74NMSRECQxcuDQdC2qWePqes8oGSOs4VcVCMcjPY/pTY/qvvjTlmJT41bqB0dadmWNkJLLacpJMCCvtuQqYF9m9K3AHUURSncIx+MiHXI4aELfw+Dja8lRhMQTyz+4tl0rJVSFpQAAAABJRU5ErkJggg==')

          +cardCity('Yalí', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADpSURBVAXBTS/DAACA4befW2W1z8QkRpYsDpwcnEn8MfED/Ag3Z4kDN4ctEXNgQWmWaYeG0ZV+bl3reYT+dT//9EXGXwme98OTkyHY93yXWoQLgSiekQQ+YqVaQ9cKbLUrpJHLdktno5lQXdis1nV22mWajTJyUSuwtiJQb1SxjTn7B5t0z3oo2YTdvSZCFpHOdWRJzMmlnIfBHZb1ysfI4PG2x/DdY73TQS0tY5ovyOcXl8yCXwY3V4yGz4y7p1hvU5I05eT4iGJNw53GSLnvHMaOwSKLUVQVy/nDnIQEooY7V3BDkSVB5h8pUWnOK09yrAAAAABJRU5ErkJggg==')
        section(class="text-center mt-20")
          a(
            class="rounded font-semibold space-x-2.5 py-2.5 px-5 transition-colors inline-flex items-center any-hover:bg-orange-500 active:outline-none active:ring-4 active:ring-orange-400 active:ring-opacity-75 bg-orange-400 text-white shadow-lg shadow-orange-500/30 any-hover:shadow-orange-600/30 active:shadow-orange-600/30"
            href="/terminal-sur-esteli"
          )
            span Mira todos los destinos
            span
              svg(class="fill-current" width="26" height="26")
                path(d="M16 11H4v2h12v3l4-4-4-4z")/

      section(class="!mt-24")
        h4(class="text-xl sm:text-2xl font-bold text-center mb-10 lg:mb-16") Horarios de la Terminal Norte
        article(
          class="flex flex-col gap-y-14 items-center lg:grid lg:grid-cols-2 xl:grid-cols-3 lg:gap-22"
        )
          +cardCity('Jinotega', 'norte', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADNSURBVBXBPUvDQACA4fe+rzW1taJoUBCXjs7SybWLf9fN4l/QQVTQoVYIJdhwiW3N5cTnEXcvIU1OPf8eXhvK0HI+toQt7NoOpwT7fYM+G3vey47LQ8XNZI/PqkMLsFqwbiIyRbKeQc/n9xjXo85PyI9GFMUamVq+q5qDzPL8+MT1dIq4mt2miMU7S0IRoyBJi7EWJQVeRn7R6IvhAGcc4afGOMnia0USCm08UsEuFGySQi8/3hgMM/LjHOf6bG1J0omqXlEsF2yaFmUUfx9+TTarspExAAAAAElFTkSuQmCC')

          +cardCity('Somoto', 'norte', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADmSURBVAXBu07CUACA4b/llBZBgUCBYOJQ7SDxMpgoA25iHB31/XwEJwdXphodjMEL6iAmxjagUnqAnuP3GWfnW/oxf0hYPcWybKRpMplr4kTSzV5Ql31qwkb4rs80ukZGZeLSPrYQgEOnfEU9vMfOZFgyc4h07nCye0zwETAY9HCcAqrg0F5dIKouRpql5W0jtDKZjRd0/Q439ivB8wvtjTxHO3tIw6TRbKFTC5HIhLuHb5q1Cn6xAp7mYNMjiosYYoXP4Yi/8Q9i+BWSKsVlr4+bU9z+zpgKWFse8fb0znqjxERp/gGtW1S4/iR4jQAAAABJRU5ErkJggg==')

          +cardCity('Ocotal', 'norte', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADoSURBVAXBvU7CUACA0a+F0gttsQZ/B9TJweikicZXcPMhHHwOR1/GyZXEkCgSEqwhIqllMAYVSJQi5XJ76znG29c0e+kN+Hx/5XFwzPBHseQ7HK5HeEafo5NTRFGQv2v/0a7fsFZZgd8HNqdNzKzKWLu0woDdvQPqjQBzf2vGXEr6UQ8rbjCLJ1iLbz6ie4pOgVrtluurSwxv1c3Ozi8wM00Sj1BzSbnsY9s5lDbohgHPT03y1e0dkmQC2kQrSacTUBI2Vk4xGg8xChbCtsmrNCXstlALje84+J5AKY0ybdzKBjKVLIsS/66oZHYPNJRaAAAAAElFTkSuQmCC')

          +cardCity('Yalí', 'norte', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADpSURBVAXBTS/DAACA4befW2W1z8QkRpYsDpwcnEn8MfED/Ag3Z4kDN4ctEXNgQWmWaYeG0ZV+bl3reYT+dT//9EXGXwme98OTkyHY93yXWoQLgSiekQQ+YqVaQ9cKbLUrpJHLdktno5lQXdis1nV22mWajTJyUSuwtiJQb1SxjTn7B5t0z3oo2YTdvSZCFpHOdWRJzMmlnIfBHZb1ysfI4PG2x/DdY73TQS0tY5ovyOcXl8yCXwY3V4yGz4y7p1hvU5I05eT4iGJNw53GSLnvHMaOwSKLUVQVy/nDnIQEooY7V3BDkSVB5h8pUWnOK09yrAAAAABJRU5ErkJggg==')

          +cardCity('Quilalí', 'norte', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADdSURBVAXBS06DUABA0Vse8iuWtqiJQcPEmYk7aOLIGRtwC+7ATRiX1bk2wU/TiDYK1QIiH+GJ5wwur6772fkFzw93GBqEi5AgCNhzHVbRI00t8Q481OX9nDp7wss77ArO6oa3m1tWsmM9Nni1BFlro+5GLzifGYmlEPaSbqSh6oJqk9IvW/xfhaFroHK4zzxPyIuCtugxSx3LMok/vmibjvfJlNOjYxRTj0m2KX/VgLaRfKclbdnhOlM0odDLH7psgSqVEUNDYIgea0fBGduc+D7rTYwhBHlRE20n/AOxc2GK8ORBHgAAAABJRU5ErkJggg==')

          +cardCity('San Juan de Limay', 'norte', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADgSURBVAXBu0rDUACA4T85J2kuhBgMrajgVAdHB3ehCE6OToLgK/hgPkBddPEF6lZQSgVj4yVpTk5Pksbvs27urvrLyYTs/YM0Tjg7vyZNU2zLwrQdtWnJqxq5/Jvx9PhGkRkiV/Iym3N6cUsYxdSmoa4URi2QiRVxnBzxa2mcQY9q5kwf7tkITeDUNLTEm33kWtR8/SyJ/AB/4DHaHRLojG+5ptr2CMvGUQa5txOQDg8QnU3+uWC1yukCFycSFHpL4vnoUiFPxodMn18ZBSGxG1MWisovGbchntOiG4FUkn+qf1rJP6L68AAAAABJRU5ErkJggg==')
        section(class="text-center mt-20")
          a(
            class="rounded font-semibold space-x-2.5 py-2.5 px-5 transition-colors inline-flex items-center any-hover:bg-orange-500 active:outline-none active:ring-4 active:ring-orange-400 active:ring-opacity-75 bg-orange-400 text-white shadow-lg shadow-orange-500/30 any-hover:shadow-orange-600/30 active:shadow-orange-600/30"
            href="/terminal-norte-esteli"
          )
            span Mira todos los destinos
            span
              svg(class="fill-current" width="26" height="26")
                path(d="M16 11H4v2h12v3l4-4-4-4z")/
