---
import CardCity from '@components/CardCity.astro'

import northernStation from '@data/northern-station.json'

const cities = northernStation.cities
---

<article class="container mx-auto py-12 px-4 sm:py-16 md:py-20 xl:py-28">
  <section class="mb-10 space-y-6 lg:mb-16 lg:text-center">
    <h2 class="text-center">Destinos populares de la terminal norte</h2>
    <p class="mx-auto mt-5 text-center md:max-w-5xl lg:max-w-6xl">
      Elige la ciudad para ver los horarios de los destinos más populares de la
      terminal norte.
    </p>
  </section>
  <article
    class="flex flex-col items-center gap-y-20 lg:grid lg:grid-cols-2 lg:gap-16 xl:grid-cols-3"
  >
    {
      cities.map(
        (city, index) =>
          index < 6 && (
            <CardCity
              cityName={city.name}
              slug={`/${northernStation.slug}/${city.slug}`}
              image={city.image}
            />
          )
      )
    }
  </article>
  <section class="mt-20 text-center">
    <a
      class="inline-flex items-center space-x-2.5 rounded bg-orange-400 py-2.5 px-5 font-semibold text-white shadow-lg shadow-orange-500/30 transition-colors active:shadow-orange-600/30 active:outline-none active:ring-4 active:ring-orange-400 active:ring-opacity-75 any-hover:bg-orange-500 any-hover:shadow-orange-600/30"
      href={`/${northernStation.slug}`}
    >
      <span>Mira todos los destinos</span>
      <span>
        <svg class="fill-current" width="26" height="26">
          <path d="M16 11H4v2h12v3l4-4-4-4z"></path>
        </svg>
      </span>
    </a>
  </section>
</article>
