---
import CardCity from '@components/CardCity.astro'

import southernStation from '@data/southern-station.json'

const cities = southernStation.cities
---

<article
  class="bg-[#FFFDF9] py-12 sm:py-16 md:py-20 xl:py-28 dark:bg-[#2D231B]"
>
  <div class="container mx-auto px-4">
    <section class="mb-10 space-y-6 lg:mb-16 lg:text-center">
      <h2 class="text-center text-3xl font-bold text-[#3b0d15] sm:text-4xl dark:text-orange-50">
        Destinos populares de la terminal sur
      </h2>
      <p class="mx-auto mt-5 text-center md:max-w-5xl lg:max-w-6xl">
        Elige la ciudad para ver los horarios de los destinos más populares de
        la terminal sur.
      </p>
    </section>
    <article class={`
      flex flex-col items-center gap-y-20
      lg:grid lg:grid-cols-2 lg:gap-16
      xl:grid-cols-3
    `}
    >
      {
        cities.map(
          (city, index) =>
            index < 6 && (
              <CardCity
                cityName={city.name}
                slug={`/${southernStation.slug}/${city.slug}`}
                image={city.image}
              />
            )
        )
      }
    </article>
    <section class="mt-20 text-center">
      <a
        class={`
          active:ring-opacity-75
          inline-flex items-center space-x-2.5 rounded bg-orange-400 px-5 py-2.5 font-semibold
          text-white shadow-lg shadow-orange-500/30 transition-colors
          active:ring-4 active:shadow-orange-600/30 active:ring-orange-400 active:outline-none
          any-hover:bg-orange-500 any-hover:shadow-orange-600/30
        `}
        href={`/${southernStation.slug}`}
      >
        <span>Mira todos los destinos</span>
        <span>
          <svg class="fill-current" width="26" height="26">
            <path d="M16 11H4v2h12v3l4-4-4-4z"></path>
          </svg>
        </span>
      </a>
    </section>
  </div>
</article>
