---
import testimonials from '@data/testimonials.json'
---

<article class="bg-[#FFFDF9] py-10 dark:bg-[#2D231B] sm:py-12">
  <div class="container mx-auto px-4">
    <section class="mb-10 space-y-6 lg:mb-16 lg:text-center">
      <h2 class="text-center">Los Estelianos confían en Estelí Buses</h2>
    </section>
    <article
      id="controls-carousel"
      class="mx-auto grid grid-cols-[40px,1fr,40px] items-center justify-center gap-2 sm:max-w-lg md:gap-8 xl:max-w-xl"
      data-carousel="static"
    >
      <!-- Slider Control Prev -->
      <button
        id="carousel-prev"
        type="button"
        class="cursor-pointer rounded-full bg-white shadow transition-colors focus:outline-none focus:ring-4 focus:ring-orange-100 active:bg-orange-50 any-hover:bg-orange-50 dark:bg-[#35291e] dark:focus:ring-[#4e3925] active:dark:bg-[#3f3022] any-hover:dark:bg-[#3f3022]"
        data-carousel-prev
      >
        <span class="inline-flex h-10 w-10 items-center justify-center">
          <svg
            class="h-4 w-4 text-orange-400 dark:text-orange-100"
            aria-hidden="true"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 1 1 5l4 4"></path>
          </svg>
          <span class="sr-only">Previous</span>
        </span>
      </button>

      <!-- Carousel wrapper -->
      <div class="relative h-[380px] overflow-x-hidden md:h-[290px]">
        {
          testimonials.map((testimonial, index) => (
            <div
              id={`carousel-item-${index}`}
              class="top-1/2 !z-0 hidden h-max -translate-y-1/2 px-1 duration-700 ease-in-out"
              data-carousel-item
            >
              <section class="flex flex-col items-center justify-start gap-y-2 rounded bg-white p-3 text-center shadow dark:bg-[#35291e]">
                <div>
                  <section
                    class={`mx-auto w-max rounded-full p-3 ${testimonial.bg_circle}`}
                  >
                    <svg
                      class={`fill-current ${testimonial.color_icon}`}
                      viewBox="0 0 24 24"
                      width="45"
                      height="45"
                    >
                      <path
                        d={
                          testimonial.icon === 'woman'
                            ? 'M13.75 13a1.25 1.25 0 1 1 2.5 0 1.25 1.25 0 0 1-2.5 0M22 12v10H2V12C2 6.5 6.5 2 12 2s10 4.5 10 10M4 12a8.01 8.01 0 0 0 16 0c0-.79-.12-1.55-.33-2.26A9.97 9.97 0 0 1 9.26 5.77a10.06 10.06 0 0 1-5.21 5.37C4 11.42 4 11.71 4 12m5 2.25a1.25 1.25 0 1 0 0-2.5 1.25 1.25 0 0 0 0 2.5Z'
                            : 'M9 11.75A1.25 1.25 0 0 0 7.75 13 1.25 1.25 0 0 0 9 14.25 1.25 1.25 0 0 0 10.25 13 1.25 1.25 0 0 0 9 11.75m6 0A1.25 1.25 0 0 0 13.75 13 1.25 1.25 0 0 0 15 14.25 1.25 1.25 0 0 0 16.25 13 1.25 1.25 0 0 0 15 11.75M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2m0 18c-4.41 0-8-3.59-8-8 0-.29 0-.58.05-.86a10.06 10.06 0 0 0 5.21-5.37 9.97 9.97 0 0 0 10.41 3.97A7.97 7.97 0 0 1 12 20Z'
                        }
                      />
                    </svg>
                  </section>
                </div>
                <div class="space-y-2">
                  <p class="font-semibold">{testimonial.name}</p>
                  <p class="!text-base">{testimonial.comment}</p>
                </div>
              </section>
            </div>
          ))
        }
      </div>

      <!-- Slider control Next -->
      <button
        id="carousel-next"
        type="button"
        class="cursor-pointer rounded-full bg-white shadow transition-colors focus:outline-none focus:ring-4 focus:ring-orange-100 active:bg-orange-50 any-hover:bg-orange-50 dark:bg-[#35291e] dark:focus:ring-[#4e3925] active:dark:bg-[#3f3022] any-hover:dark:bg-[#3f3022]"
        data-carousel-next
      >
        <span class="inline-flex h-10 w-10 items-center justify-center">
          <svg
            class="h-4 w-4 text-orange-400 dark:text-orange-100"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"></path>
          </svg>
          <span class="sr-only">Next</span>
        </span>
      </button>
    </article>
    <section class="mt-4">
      <p class="text-center !text-sm">
        ¿Quiéres aparecer acá?
        <a
          href="https://forms.gle/sYKj4pqKRaC5s4LL7"
          rel="nofollow"
          target="_blank"
          >Llena este formulario
          <svg
            class="-mt-[0.125rem] inline fill-current"
            viewBox="0 0 24 24"
            width="12"
            height="12"
          >
            <path
              d="M14 3v2h3.6l-9.8 9.8 1.4 1.4L19 6.4V10h2V3m-2 16H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7h-2v7Z"
            ></path>
          </svg>
        </a>.
      </p>
    </section>
  </div>
</article>

<script>
  import { Carousel } from 'flowbite'
  import type { CarouselItem, CarouselInterface } from 'flowbite'
  import testimonials from '@data/testimonials.json'

  const items: CarouselItem[] = testimonials.map((_, index) => ({
    position: index,
    el: document.querySelector(`#carousel-item-${index}`)
  }))

  const options = {
    defaultPosition: 6,
    interval: 5500
  }

  const carousel: CarouselInterface = new Carousel(items, options)
  carousel.cycle()
</script>
